<!--#include virtual="/layout/mobile/inc/h.html"-->
<header id="header">
    <div class="title wht line">
        <button class="prev" onclick="location.href='/mobile/board/faq-list.html'"><span
                class="skip">이전페이지</span></button>
        <h3>자주 묻는 질문 상세</h3>
        <div class="item hidden"></div>
    </div>
</header>
<!-- 자주 묻는 질문 상세 -->
<main class="board-wrap mainflex">
    <section class="board-detail">
        <div class="wrap">
            <div class="detail">
                <div class="title">
                    <p class="tit">멀리건이 사용되지 않는데, 이유가 무엇인가요?</p>
                </div>
                <div class="content">
                    <p>개인정보 처리방침 재검토 기간입니다.</p>
                    <p>안녕하세요. (주)KPGS 입니다.</p>
                    <br>
                    <p>당사의 [개인정보처리방침] 중 일부 내용이 개정되어<br>
                        아래와 같이 안내 드립니다.</p>
                    <br>
                    <p>1. 시행일자 개정된 개인정보처리방침은 2023년 08월 10일부터 효력이 발생됩니다. </p>
                    <p>2. 개정 내용 서비스에서 별도로 수집하는 개인정보 항목 추가</p>
                    <p>- 서비스명 : 스크린골프</p>
                    <p>- 추가적으로 수집하는 개인정보 항목 : [선택] 나스모 음성</p>
                    <br>
                    <p>고객님의 정보보호를 위하여 언제나 노력하는 KPGS가 되겠습니다. 감사합니다.</p>
                </div>
            </div>
        </div>
    </section>
</main>

<!--#include virtual="/layout/mobile/inc/f.html"-->