@charset "utf-8"; /* 폰트 */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css'); @import url('//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css'); @import url('https://webfontworld.github.io/gmarket/GmarketSans.css'); @import url('https://webfontworld.github.io/sunn/SUIT.css'); /* */

* { margin: 0; padding: 0; } 
* { font-family:'Pretendard','GmarketSans','SUIT','dotum','돋움','gulim','굴림','Tahoma'; box-sizing:border-box } 
fieldset { margin:0; padding:0; border:0 } 
button { padding:0; border:0; background:none; cursor:pointer } 
html,body { height:100% } 
html { /*min-width:320px; max-width:100%; */scroll-behavior:smooth } 
h1,h2,h3,h4,h5,h6 { margin:0 } 
dl,ul,ol { margin:0; padding:0; list-style:none } 
dd { margin:0 } 
a { color:#242a38; text-decoration:none } 
a,button { color:#000; -webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-tap-highlight-color:transparent } 
input { border-radius:0 } 
input:focus { border-radius:0; outline:none } 
input,
button { border-radius:0; } 
button { color:#777 } 
label { cursor:pointer } 

p { margin:0 } 
i,em,address,cite { font-style:normal } 
hr { display:none } 

*:hover,*:focus,*:checked { outline:none; -webkit-tap-highlight-color:transparent } 
body { font-family: pretendard; } 
/*input[type="password"] { -webkit-text-security:disc; font-family:"Lucida Sans Unicode",sans-serif; letter-spacing:5px } 
input[type="password"]::placeholder { font-family:'Noto Sans KR' } */
:-ms-input-placeholder { color:#888 } 
::-ms-input-placeholder { color:#888 } 
::-webkit-scrollbar { width: 10px; } 
::-webkit-scrollbar-track { background: #f1f1f1; } 
::-webkit-scrollbar-thumb { border-radius: 2px; background-color: #B4B3AF; } 

.srll { padding:0 5px 0 0; overflow-y:scroll; box-sizing:border-box } 
.srll::-webkit-scrollbar { width:5px } 
.srll::-webkit-scrollbar-thumb { height:17%; background-color:rgb(229 229 229 / 100%); border-radius:2px } 
.srll::-webkit-scrollbar-track { background-color:#f5f5f5 } 

.wrll { padding:0 0 10px 0; overflow-x:scroll; box-sizing:border-box } 
.wrll::-webkit-scrollbar { height:5px } 
.wrll::-webkit-scrollbar-thumb { height:17%; background-color:rgb(229 229 229 / 100%); border-radius:2px } 
.wrll::-webkit-scrollbar-track { background-color:#f5f5f5 } 

.wrap { padding:0 16px } 

.skip { display:none !important } 
.nobr { border-radius:0 !important } 
body.act { overflow:hidden } 
img.row { width:auto; height:100% } 
img.col { width:100%; height:auto } 


@keyframes blowUpModal { 
 0% { transform:scale(0) } 
100% { transform:scale(1) } 
 }

@keyframes blowUpModalTwo { 
 0% { transform:scale(1); opacity:1 } 
100% { transform:scale(0); opacity:0 } 
 }

@-webkit-keyframes bottomin { 
 from { bottom:-100% } 
 to { bottom:0 } 
 }

@keyframes bottomin { 
 from { bottom:-100% } 
 to { bottom:0 } 
 }

@-webkit-keyframes bottomout { 
 from { bottom:0 } 
 to { bottom:-100% } 
 }

@keyframes bottomout { 
 from { bottom:0 } 
 to { bottom:-100% } 
 }

@-webkit-keyframes fadein { 
 from { bottom:0; opacity:0 } 
 to { bottom:100px; opacity:1 } 
 }

@keyframes fadein { 
 from { bottom:0; opacity:0 } 
 to { bottom:100px; opacity:1 } 
 }

@-webkit-keyframes fadeout { 
 from { bottom:100px; opacity:1 } 
 to { bottom:0; opacity:0 } 
 }

@keyframes fadeout { 
 from { bottom:100px; opacity:1 } 
 to { bottom:0; opacity:0 } 
 }

@-webkit-keyframes zoomIn { 
 0% { opacity:0; -webkit-transform:scale3d(.3, .3, .3); transform:scale3d(.3, .3, .3) } 
50% { opacity:1 } 
 }
@keyframes zoomIn { 
 0% { opacity:0; -webkit-transform:scale3d(.3, .3, .3); transform:scale3d(.3, .3, .3) } 
50% { opacity:1 } 
 }

@keyframes fade-in { 
 from { opacity:0 } 
 to { opacity:1 } 
 }

@media only screen and (min-width:1024px){
 #app { position:relative; z-index:2; margin:0 0 0 calc(50vw - 1px) !important; max-width:422px; min-height:100vh; border-right:1px solid #e1e1e1; border-left:1px solid #e1e1e1; background:#fff; } 
 #footer { position: fixed; z-index: 9999; bottom: 0; width: 100%; max-width: 422px; background-color: #fff; box-shadow: 0px -10px 20px #33333310; border-top: 1px solid #ddd; } 
 .modal-boxed { max-width:422px; min-height:100vh; margin:0 0 0 calc(50vw - 1px) !important; } 
 }
.apps { width: 100%; background-color: #f5f5f5; } 
#app { background-color: #fff; } 
.contain { margin:0 16px } 


/* header */
#header { position: sticky; z-index: 99; top: 0; background-color: #fff; transition: all 0.3s; } 
#header .title { display: flex; align-items: center; justify-content: center; position: relative; height: 4rem; box-shadow: 0 0.2rem 0.5rem #00000010; } 
#header .title .prev { position: absolute; top: 0; left: 0; display: block; width: 4rem; height: 4rem; background: url(../../img/app/ico-home.svg) no-repeat 50% 50%; } 
#header .title .tit { font-size: 20px; letter-spacing: -0.5px; } 
#header .title .logout { position: absolute; top: 0; right: 0; display: block; width: 4rem; height: 4rem; background: url(../../img/app/logout.svg) no-repeat 50% 50%; } 

/* login */
#login .loginWrap { display: flex; flex-direction: column; justify-content: center; height: 100vh; } 
#login .loginWrap .title { display: flex; flex-direction: column; align-items: center; } 
#login .loginWrap .title .img { width: 150px; height: 150px; display: block; margin: 0 auto; } 
#login .loginWrap .title .img h1 { background: url(../../img/app/apartment.svg) no-repeat; background-size: contain; width: 100%; height: 100%; } 
#login .loginWrap .title .tit p { font-family: SUITE; font-size: 18px; letter-spacing: -0.75px; font-weight: 600; } 
#login .loginWrap .title .tit b { font-weight: 800; color: #225DAF; } 
#login .login-form { padding:40px 0 0 0 } 
#login .login-form .wrap .input { position:relative; padding:0 !important } 
#login .login-form .wrap .input + .input { padding-top:16px !important } 
#login .login-form .wrap .input .ipt { padding:0 12px; width:100%; height:48px; font-size:16px; border:1.5px solid #CCCCCC; background:#fff; border-radius:5px; transition:all .3s } 
#login .login-form .wrap .input .ipt::placeholder { font-size:16px; letter-spacing:-.5px; color:#c1c1c1 } 
#login .login-form .wrap .input .ipt:focus { border-color:#aaa; background:#fff } 
#login .login-form .wrap .input .ipt:focus::placeholder { color:#333 } 
#login .login-form .wrap .input .ipt.not { border:1.5px solid #f3132c; background:#fff } 
#login .login-form .wrap .input .ipt-error { display:flex; align-items:center; gap:4px; height:30px; font-size:14px; letter-spacing:-1px; color:#f3132c } 
#login .login-form .wrap .input .ipt-error:before { content:''; width:14px; height:14px; background:url(../../img/app/error-ico.svg)no-repeat 0 0; background-size:14px auto } 
#login .login-form .wrap .input .ipt-inform { display:none; align-items:center; gap:4px; margin:3px 0 0; height:20px; font-size:14px; letter-spacing:-1px; color:#f3132c } 
#login .login-form .wrap .input .ipt-inform:before { content:''; width:14px; height:14px; background:url(../../img/app/error-ico.svg)no-repeat 0 0; background-size:14px auto } 
#login .login-form .button { margin:20px 0 0 0 } 
#login .login-form .button .login-btn { height:48px; width:100%; background-color:#5F6368; color:#fff; font-size:16px; font-weight:600; border-radius: 5px; } 
#login .login-form .button .login-btn.act { background-color:#225DAF; color:#fff } 

/* main */
#main { width: 100%; display: flex; flex-direction: column; align-items: center; gap: 50px; } 
#main .mainWarp { width: 100%; display: flex; flex-direction: column; gap: 16px; padding: 50px 16px; } 
#main .mainWarp .button { width: 100%; height: 160px; } 
#main .mainWarp > .button > .bt { width: 100%; height: 100%; display: flex; flex-direction: row; justify-content: center; align-items: center; gap: 5px; border-radius: 5px; flex-wrap: wrap; } 
#main .mainWarp .button .inquiry { background-color: #2B78E4; } 
#main .mainWarp .button .register { background-color: #393939; } 
#main .mainWarp .button i { width: 37px; height: 37px; background-size: contain; } 
#main .mainWarp .button .inquiry i { background:url(../../img/app/inq.svg) no-repeat; } 
#main .mainWarp .button .register i { background:url(../../img/app/reg.svg) no-repeat; } 
#main .mainWarp .button p { font-size: 30px; font-family: SUITE; font-weight: 700; color: #fff; letter-spacing: -0.5px; } 
#main .logout { width: 100%; display: flex; flex-direction: column; align-items: center; } 
#main .logout .bt-logout { display: flex; flex-direction: row; align-items: center; font-family: SUITE; font-size: 18px; letter-spacing: -0.5px; color: #555; font-weight: 600; padding: 10px 40px; border: 1px solid #ddd; border-radius: 5px; background-color: #f5f5f5; } 
#main .logout i.logout { background: url(../../img/app/logout.svg) no-repeat 50% 50%; width: 60px; height: 60px; } 
.contain { padding: 16px 10px; background-color: #fff; border: 1px solid #f2f2f2; width: 100%; display: block; margin: 20px auto 0; } 
.contain:first-child { margin-top: 0; } 
.contain:last-child { margin-bottom: 20px; } 
.contain .tit { display: flex; flex-direction: row; justify-content: space-between; align-items: center; } 
.contain .tit h3 { font-size: 16px; font-weight: 600; letter-spacing: -0.75px; } 
.contain .tit .bt-add { padding: 10px 20px; background-color: #555; color: #fff; font-size: 14px; font-weight: 500; letter-spacing: -0.75px; } 
.contain .table { width: 100%; padding: 20px 0; } 
.contain .table .tbl { width: 100%; } 
.contain .table .tbl table { width: 100%; border-collapse: collapse; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; } 
.contain .table .tbl table tr { height: 100%; } 
.contain .table .tbl table tr + tr { border-top: 1px solid #ddd; } 
.contain .table .tbl table th { padding: 10px 20px; font-size: 14px; letter-spacing: -0.75px; font-weight: 600; color: #333; background-color: #f2f2f2; } 
.contain .table .tbl table th .bullet { display: flex; align-items: center; position: relative; font-size: 14px; letter-spacing: -0.75px; font-weight: 600; color: #333; } 
.contain .table .tbl table th .bullet::before { content: ''; position: absolute; left: -8px; width: 4px; height: 4px; background-color: #2B78E4; border-radius: 50px; } 
.contain .table .tbl table td { padding: 10px; font-size: 14px; } 
.contain .table .tbl table td .form { display: flex; align-items: center; width: 100%; gap: 10px; } 
.contain .table .tbl table td .form .input { display: flex; width: 100%; flex-direction: row; align-items: center; gap: 5px; } 
.contain .table .tbl table td .form .ipt { display: flex; flex-direction: row; align-items: center; gap: 2px; } 
.contain .table .tbl table td .form .ipt .ip-txt { padding: 10px; border: 1px solid #ddd; font-size: 14px; width: 100%; } 
.contain .table .tbl table td .form .input .ip-dat { width: 100%; border: 1px solid #ddd; padding: 10px; font-size: 14px; } 
.contain .table .tbl table td .inner { display: flex; align-items: center; } 
.contain .table .tbl table td .inner .input { display: flex; flex-direction: row; align-items: center; } 
.contain .table .tbl table td .bt-reset { max-width: 60px; width: 100%; padding: 12px 10px; background-color: #2B78E4; color: #fff; font-size: 14px; font-weight: 500; } 
.contain .table .tbl .sel { min-width: 100px; width: 100%; padding: 10px; font-size: 14px; background-color: #fff; border: 1px solid #ddd; transition: all 0.3s; } 
.contain .table .tbl .sel:focus { border: 1px solid #333; } 
.contain .table .tbl select option { font-size: 14px; } 
.contain .table .tbl input[type="radio"]+label { display: flex; flex-direction: row; align-items: center; gap: 5px; cursor: pointer; } 
.contain .table .tbl input[type="radio"]+label::before { content: ''; display: block; width: 14px; height: 14px; border: 1px solid #ddd; background: url(../../img/app/check1.svg) no-repeat 50% 50%; background-size: 100% auto; border-radius: 50%; } 
#register .contain .table .tbl input[type="radio"]:checked+label::before { content: ''; border: 1px solid #225DAF; background: url(../../img/app/check2.svg) no-repeat 50% 50% #225DAF; background-size: 100% auto; } 
.contain .table .tbl .inn { display: flex; flex-direction: row; align-items: center; gap: 10px; } 
.contain .table .tbl .textarea { width: 100%; display: flex; } 
.contain .table .tbl .textarea textarea { width: 100%; height: 100px; padding: 10px; border: 1px solid #ddd; resize: none; } 
.contain .table .tbl.col table th { padding: 10px; font-size: 13px; } 
.contain .table .tbl.col table td { padding: 5px; font-size: 12px; letter-spacing: -0.5px; border-left: 1px solid #ddd; height: 25px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; } 
.contain .table .tbl.col table td.non { border-left: none; } 
.contain .table .tbl.col table td.category { max-width: 70px; overflow: hidden; text-overflow: ellipsis; white-space: normal; } 
.contain .table .tbl.col table td .form .ipt .ip-txt { padding: 5px; } 
.contain .table .col { width: 100%; border-collapse: collapse; border-spacing: 0; } 
.contain .table .col table { table-layout: fixed; } 
.contain .sum { width: 100%; display: flex; flex-direction: row; justify-content: space-between; } 
.contain .button { width: 100%; display: flex; } 
.contain .button .bt { width: 100%; padding: 16px; font-size: 15px; font-weight: 600; letter-spacing: -0.75px; border-radius: 5px; } 
.contain .button .bt-del { background-color:#333; color: #fff; } 
.contain .button .bt-search { background-color:#525460; color: #fff; } 
.contain .button .bt-slct { background-color: #FF7171; color: #fff; } 


.list-wrap { width:100%; display: flex; flex-direction: column; gap: 10px; min-height: 50vh; border-top: 1px solid #ddd; margin-top: 20px; padding: 20px 0; } 
.list { width: 100%; } 
.list .title-wrap { display: flex; flex-direction: row; align-items: center; justify-content: space-between; } 
.list .title-wrap .title h4 { font-size: 16px; color: #333; letter-spacing: -0.75px; } 
.list .title-wrap .title p { font-weight: 500; font-size: 12px; letter-spacing: -0.75px; color: #555; } 
.list .title-wrap .button .bt { padding: 10px 20px; font-size: 14px; letter-spacing: -0.5px; font-weight: 500; } 
.list .title-wrap .button .bt-add { background-color: #2B78E4; color: #fff; border-radius: 5px; } 
.nocontent { display: flex; align-items: center; flex-direction: column; justify-content: center; min-height: 50vh; } 
.nocontent i { display: block; width: 100px; height: 100px; background: url(../../img/app/nocontent.svg) no-repeat 50% 50%; background-size: 100px; } 
.nocontent span { font-size: 14px; color: #C0C0C0; font-weight: 600; padding: 10px 0; } 



table.col thead th:first-child { border-left: 0 } 
table.col thead th:last-child { border-right: 0 } 
table.col tbody th:last-child { border-right: 0 } 
table.col tbody td:first-child { border-left: 0 } 
table.col tbody td:last-child { border-right: 0 } 
table.col thead th { line-height: 1.2; font-size: 14px; font-weight: 600; letter-spacing: -1px; color: #242a38; border: 1px solid #ddd; border-bottom: 1px solid #ddd; background: #fafbfc } 
table.col tbody tr { height: 40px } 
table.col tbody tr.view { cursor: pointer; } 
table.col tbody tr:hover { background: #fafafb } 
table.col tbody tr.yet { background-color: #f7fbf7 } 
table.col tbody tr.yet:hover { background: #fafafb } 
table.col tbody td { padding: 8px; font-size: 12px; text-align: center; color: #555; border: 1px solid #eee; border-bottom: 1px solid #eee; word-break: keep-all; word-wrap: break-word; } 
table.col tbody td:nth-child(1) { text-align: center } 
table.col tbody td.tal { text-align: left; } 
table.col tbody td.tar { text-align: right; } 

.table .tbl { width: 100%; } 
.table .tbl tr { height: 50px; } 
.table .tbl table { width: 100%; border-collapse: collapse; border-top: 1px solid #ced2d8; border-bottom: 1px solid #888; } 
.table .tbl tr:last-child { border-bottom: 1px solid #888; } 
.table .tbl .nowrap th { white-space: nowrap; } 
.table .tbl th { padding: 0 24px; font-size: 14px; font-weight: 600; border-bottom: 1px solid #ddd; background: #f5f5f5; color: #333; } 
.table .tbl td { padding: 8px 16px; font-size: 14px; font-weight: 400; border-bottom: 1px solid #eee; } 
.table .tbl .nowrap td { white-space: nowrap; } 
.table .tbl .nowrap td.standard { max-width: 200px; white-space: nowrap; word-break: break-all; text-overflow: ellipsis; overflow: hidden; } 


.table .tbl td .bt { display: inline-block; padding: 10px 15px; line-height: 1.2; color: #282f44; border: 1px solid #eee; background: #fff; transition: all .2s; border-radius: 5px; } 
.table .tbl td .bt:hover { box-shadow: 0 0 2px 0 rgb(0 0 0 / 10%); } 
.table .tbl td .bt-cnf { background-color: #2B78E4; color: #fff; font-weight: 600; } 
.table .tbl td .bt-slct { background-color: #FF7171; color: #fff; font-weight: 600; } 

.table .tbl .fixed { table-layout: fixed; } 
.table .tbl .fixed td { word-break: break-all; } 
.table .tbl .fixed td .item .img img { width: 100%; } 


/* 장애접수 */
#register { background-color: #f9f9f9; width: 100%; position: relative; padding: 10px 0 60px; } 
#register .wrap { width: 100%; display: flex; flex-direction: column; align-items: flex-start; gap: 8px; } 
#register .title { padding: 16px 0; } 
#register .contain .sum .tit { font-size: 16px; color: #333; font-weight: 600; min-width: 52px; } 
#register .contain .sum .money b { font-size: 16px; color: #2B78E4; } 
#register .contain .sign-wrap { display: flex; flex-direction: column; align-items: center; gap: 30px; padding: 20px 0; } 
#register .contain .text { display: flex; flex-direction: row; justify-content: center; gap: 10px; width: 100%; align-items: center; font-size: 14px; font-family: pretendard; letter-spacing: -0.75px; font-weight: 500; } 
#register .contain .text b { font-size: 16px; font-family: pretendard; letter-spacing: -0.75px; font-weight: 600; color: #333; text-align: center; word-break: keep-all; line-height: 1.6; } 
#register .contain .txt-wrap { display: flex; flex-direction: column; gap: 30px; } 
#register .contain .txt { display: flex; flex-direction: row; gap: 10px; width: 100%; align-items: center; font-size: 14px; font-family: pretendard; letter-spacing: -0.75px; font-weight: 500; } 
#register .contain .txt .date { text-align: center; width: 70%; } 
#register .contain .txt .name { min-width: 150px; max-width: 150px; text-align: center; } 
#register .contain .txt .name .inner { width: 100%; } 
#register .contain .txt .name select { width: 100%; padding: 10px; background-color: #fff; border: 1px solid #ddd; border-bottom: 2px solid #555; font-size: 14px; } 
#register .contain .txt .name .inner .ip-txt { width: 100%; padding: 10px; background-color: #fff; border: 1px solid #ddd; border-bottom: 2px solid #555; font-size: 14px; text-align: center; } 
#register .contain .txt .sign { position: relative; min-width: 60px; } 
#register .contain .txt .sign .bt-sign { padding: 10px; font-size: 14px; color: #555; letter-spacing: -0.75px; } 
#register .contain .txt .sign img { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 60px; height: 60px; object-fit: contain; } 
#register .contain .txt .sign .noImage { display: none; } 




/* 장애조회 */
#inquiry { background-color: #f9f9f9; width: 100%; position: relative; padding: 10px 0 60px; } 
#inquiry .wrap { width: 100%; display: flex; flex-direction: column; align-items: flex-start; gap: 8px; } 
#inquiry .title { padding: 10px 0; } 

/* A/S처리확인서 */
#confirm { margin-top: 20px; } 
#confirm .table table { border-collapse: collapse; border: 1px solid #ddd; } 
#confirm .table table tr { border-bottom: 1px solid #ddd; } 
#confirm .table table .tbltitle { background-color: #f5f5f5; } 
#confirm .table table .tbltitle th { text-align: center; color: #555; } 
#confirm .table th { padding: 8px; font-size: 14px; letter-spacing: -0.75px; min-width: 80px; text-align: left; border-right: 1px solid #ddd; border-left: 1px solid #ddd; } 
#confirm .table th:first-child { border-left: none; } 
#confirm .table th:last-child { border-right: none; } 
#confirm .table td { padding: 8px; font-size: 13px; letter-spacing: -1px; } 
#confirm .table td b { font-size: 13px; font-weight: 600; color: #555; } 
#confirm .table td .form { display: flex; flex-direction: row; gap: 10px; width: 100%; } 
#confirm .table td .textarea p { width: 100%; font-size: 13px; font-weight: 500; color: #666; line-height: 1.6; } 
#confirm .ipt { display: flex; flex-direction: row; align-items: center; gap: 3px; white-space: nowrap; } 
#confirm .ipt span { font-size: 13px; } 
#confirm .ipt .ip-txt { padding: 10px; border: 1px solid #ddd; width: 100%; font-size: 13px; } 
#confirm .input .ip-dat { padding: 10px; border: 1px solid #ddd; width: 100%; font-size: 13px; } 
#confirm .inner .sel { padding: 10px; border: 1px solid #ddd; width: 100%; font-size: 13px; } 
#confirm .inn { display: flex; flex-direction: row; align-items: center; gap: 30px; } 
#confirm .inn input[type="radio"]+label { display: flex; flex-direction: row; align-items: center; gap: 5px; cursor: pointer; } 
#confirm .inn input[type="radio"]+label::before { content: ''; display: block; width: 14px; height: 14px; border: 1px solid #ddd; background: url(../../img/app/check1.svg) no-repeat 50% 50%; background-size: 100% auto; border-radius: 50%; } 
#confirm .inn input[type="radio"]:checked+label::before { content: ''; border: 1px solid #225DAF; background: url(../../img/app/check2.svg) no-repeat 50% 50% #225DAF; background-size: 100% auto; } 
#confirm .inn input[type="radio"]:disabled+label::before { background-color: #eee; } 
#confirm .money td { border-left: 1px solid #ddd; } 
#confirm .money td:first-child { border-left: none; } 
#confirm .total { display: flex; flex-direction: row; align-items: center; justify-content: flex-start; gap: 5px; } 
#confirm .total .num { min-width: 150px; padding: 10px; border-bottom: 1px solid #ddd; text-align: right; font-size: 16px; font-weight: 700; color: #2B78E4; } 
#confirm .text { display: flex; flex-direction: column; align-items: center; padding: 30px; gap: 10px; } 
#confirm .text .title { font-size: 15px; line-height: 1.6; font-weight: 600; color: #333; margin-bottom: 20px; } 
#confirm .txt-wrap { display: flex; flex-direction: column; gap: 30px; } 
#confirm .txt { display: flex; flex-direction: row; gap: 10px; width: 100%; align-items: center; font-size: 14px; font-family: pretendard; letter-spacing: -0.75px; font-weight: 500; } 
#confirm .tit { display: flex; flex-direction: row; justify-content: space-between; align-items: center; } 
#confirm .name { min-width: 100px; max-width: 100px; } 
#confirm .txt .sign { position: relative; } 
#confirm .txt .sign .bt-sign { padding: 10px; font-size: 14px; color: #555; letter-spacing: -0.75px; } 
#confirm .txt .sign img { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 60px; height: 60px; object-fit: contain; } 
#confirm .txt .sign .noImage { display: none; } 
#confirm .logo { margin-top: 20px; } 



.content + .content { margin-top: 10px; } 
.content { border-radius: 5px; background: #FFF; box-shadow: 0px 8px 16px -6px rgba(24, 39, 75, 0.08), 0px 6px 8px -6px rgba(24, 39, 75, 0.12); position: relative;border: 1px solid #ddd; } 
.content .cons { width: 100%; padding: 16px; display: flex; flex-direction: row; justify-content: space-between; align-items: flex-start; } 
.content .cons .con { min-width: calc(100% - 40px); display: flex; flex-direction: column; align-items: flex-start; gap: 10px; } 
.content .cons .view { width: 24px; height: 24px; background: url(../../img/app/view.svg)no-repeat 50% 50%; background-size: contain; } 
.content .cons .con .text { width: 100%; display: flex; flex-direction: row; justify-content: flex-start; align-items: center; gap: 3px; } 
.content .cons .con .text .badge { padding: 5px 10px; font-size: 12px; white-space: nowrap; font-weight: 700; letter-spacing: -0.75px; border-radius: 5px; } 
.content .cons .con .text .badge.rgst { background-color: #FF7171; color: #fff; } 
.content .cons .con .text .badge.wait { background-color: #225DAF; color: #fff; } 
.content .cons .con .text .badge.cmpl { background-color: #555; color: #fff; } 
.content .cons .con .text .txt { font-size: 14px; color: #333; display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: left; } 
.content .cons .con .text .txt + .txt { border-left: 1.5px solid #ddd; padding-left: 5px; } 
.content .cons .con .text .name { width: 100%; font-size: 14px; letter-spacing: -0.75px; font-weight: 600; } 
.content .cons .con .text .unit { width: 100%; font-size: 14px; letter-spacing: -0.75px; } 
.content .cons .con .text .num { width: 100%; max-width: 100px; font-size: 14px; letter-spacing: -0.5px; color: #555; } 

.contain .table .tbl input[type="checkbox"]+label { display: flex; flex-direction: row; align-items: center; gap: 5px; cursor: pointer; } 
.contain .table .tbl input[type="checkbox"]+label::before { content: ''; display: block; width: 14px; height: 14px; border: 1px solid #ddd; background: url(../../img/app/check1.svg) no-repeat 50% 50%; background-size: 100% auto; border-radius: 50%; } 
.contain .table .tbl input[type="checkbox"]:checked+label::before { content: ''; border: 1px solid #225DAF; background: url(../../img/app/check2.svg) no-repeat 50% 50% #225DAF; background-size: 100% auto; } 


.logo { width: 100%; display: flex; flex-direction: column; align-items: center; margin-bottom: 20px; } 
.logo .img { max-width: 60px; width: 100%; } 
.logo .img img { width: 100%; object-fit: contain; } 
.btns { display: flex; flex-direction: row; justify-content: space-between; align-items: center; gap: 10px; } 
.btns .btn { width: 100%; padding: 20px 0; font-size: 14px; font-family: pretendard; letter-spacing: -0.75px; font-weight: 700; border-radius: 5px; } 
.btns .btn.btn-del { background-color:#555; color: #fff; } 
.btns .btn.btn-save { background-color: #2B78E4; color: #fff; } 
.btns .btn.btn-list { background-color: #ffffff; color: #555; border: 1px solid #ddd;} 
.btns .btn.bt-del { background-color:#333; color: #fff; } 
.btns .btn.bt-search { background-color:#525460; color: #fff; } 
.btns .btn.bt-slct { background-color: #FF7171; color: #fff; } 
.btns .btn.bt-list { background-color: #ffffff; color: #555; border: 1px solid #ddd;} 


/* 서명 */
#sign { background-color: #f9f9f9; width: 100%; position: relative; padding: 10px 10px 60px; height: calc(100vh - 100px); } 
#sign .signWrap { width: 100%; padding: 10px; background-color: #fff; box-shadow: 0px 8px 16px -6px rgba(24, 39, 75, 0.08), 0px 6px 8px -6px rgba(24, 39, 75, 0.12); } 
#sign .signWrap .canvasBox { width: 100%; min-height: 300px; display: flex; flex-direction: column; align-items: center; } 


/* 자재보기 */
#materials { background-color: #f9f9f9; width: 100%; position: relative; padding: 10px 0 60px; height: calc(100vh - 60px); } 

/* pagenation */
.paging { clear:both; text-align:center; margin-top:10px } 
.paging .page { display:flex; justify-content:center; align-items:center } 
.paging .page .pag span { display:none } 
.paging .page .pag i { display:block; width:20px; height:20px; background-repeat:no-repeat; background-position:50% 50% } 
.paging .page .pag,
.paging .page .num { display:block; margin:0 3px; width:20px; line-height:20px; font-size:12px; letter-spacing:-.6px; color:#999; border:1px solid #ccc; background:#fff } 
.paging .page strong.num { font-weight:900; color:#333; border:1px solid #333 } 
.paging i { background-size: 10px 10px; } 
.paging .ico-pprev { background-image:url("../../img/app/ico-pprev.svg") } 
.paging .ico-prev { background-image:url("../../img/app/ico-prev.svg") } 
.paging .ico-next { background-image:url("../../img/app/ico-next.svg") } 
.paging .ico-nnext { background-image:url("../../img/app/ico-nnext.svg") } 



/* footer */
#footer { position: fixed; z-index: 9999; bottom: 0; width: 100%; background-color: #fff; box-shadow: 0px -10px 20px #33333310; border-top: 1px solid #ddd; } 
#footer .footer .buttons { display: flex; flex-direction: row; justify-content: space-between; align-items: center; } 
#footer .footer .buttons .bt { width: 100%; padding: 20px 0; font-size: 14px; font-family: pretendard; letter-spacing: -0.75px; font-weight: 700; } 
#footer .footer .buttons .bt.bt-del { background-color:#555; color: #fff; } 
#footer .footer .buttons .bt.bt-save { background-color: #2B78E4; color: #fff; } 
#footer .footer .buttons .bt.bt-list { background-color: #fff; color: #555; } 
#footer .footer .buttons .bt.bt-slct { background-color: #FF7171; color: #fff; } 


/* 모달 */
.modal-boxed { position: fixed; z-index: -1; top: 0; bottom: 0; right: 0; left: 0; display: flex; justify-content: center; align-items: center; background: rgb(0 7 18 / 30%); opacity: 0; visibility: hidden; transition: all 0.2s } 
.modal-boxed.act { z-index: 1000; opacity: 1; visibility: visible } 


.modal-boxed .modal-alert { padding:24px; background:#fff; border-radius:5px; box-shadow:8px 8px 20px 0 rgb(0 0 0 / 20%) } 
.modal-boxed .modal-alert .article .con { display: flex; flex-direction: column; align-items: center; gap: 10px; font-size:15px; color:#222; padding:20px 0; text-align:center; white-space:pre-line; } 
.modal-boxed .modal-alert .article .con b { font-size: 16px; letter-spacing: -0.75px; } 
.modal-boxed .modal-alert .article .con p { font-size: 14px; font-weight: 500; letter-spacing: -0.5px; color: #555; } 
.modal-boxed .modal-alert .footer .bt { display:inline-block; padding:0 50px; height:40px; line-height:40px; font-size:14px; font-weight:600; box-shadow:0 0 2px 0 rgb(0 0 0 / 2%); transition:all .2s; border-radius:2px } 
.modal-boxed .modal-alert .footer .bt:hover { box-shadow:8px 8px 20px 0 rgb(0 0 0 / 10%) } 
.modal-boxed .modal-alert .footer .buttons .bt { width: 100%; } 
.modal-boxed .modal-alert .footer .buttons { display: flex; flex-direction: row; align-items: center; width: 100%; gap: 10px; } 
.modal-boxed .modal-alert .footer .buttons .bt-okay { color:#fff; border:1px solid #242a38; background:#242a38 } 
.modal-boxed .modal-alert .footer .buttons .bt-okay:hover { border:1px solid #0C4721; background:#242a38 } 
.modal-boxed .modal-alert .footer .buttons .bt-no { color:#333; border:1px solid #ddd; background:#fff } 
.modal-boxed .modal-alert .footer .buttons .bt-no:hover { border:1px solid #555; } 
/**/



.tac { text-align: center !important; } 
.tal { text-align: left !important; } 
.tar { text-align: right !important; } 



.w10 { width: 10px !important; } 
.w20 { width: 20px !important; } 
.w30 { width: 30px !important; } 
.w40 { width: 40px !important; } 
.w45 { width: 45px !important; } 
.w50 { width: 50px !important; } 
.w60 { width: 60px !important; } 
.w70 { width: 70px !important; } 

.minw200 { min-width: 200px !important; } 
.maxw50 { max-width: 50px !important; } 

.w10p { width: 10% !important; } 
.w15p { width: 15% !important; } 
.w20p { width: 20% !important; } 
.w30p { width: 30% !important; } 
.w40p { width: 40% !important; } 
.w50p { width: 50% !important; } 
.w60p { width: 60% !important; } 
.w70p { width: 70% !important; } 
.w80p { width: 80% !important; } 
.w90p { width: 90% !important; } 
.w100p { width: 100% !important; } 