<!-- 맵 추가  -->
<div class="modal" id="map-add">
    <div class="table">
        <div class="tbl">
            <table class="row map">
                <colgroup>
                    <col class="w150">
                    <col class="w400">
                </colgroup>
                <tbody>
                    <tr>
                        <th class="tac">코스 명</th>
                        <td colspan="2" class="td">
                            <div class="inp">
                                <input type="text" placeholder="코스명을 입력해주세요(예 A, B, C)" class="ipt-txt">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="tac">1홀</th>
                        <td>
                            <div class="info">
                                <div class="inf">
                                    <div class="th">Par</div>
                                    <div class="th">거리(m)</div>
                                </div>
                                <div class="inf">
                                    <div class="td">
                                        <div class="inp">
                                            <input type="text" placeholder="Par 입력" class="ipt-txt">
                                        </div>
                                    </div>
                                    <div class="td">
                                        <div class="inp">
                                            <input type="text" placeholder="거리 입력" class="ipt-txt">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="tac">2홀</th>
                        <td>
                            <div class="info">
                                <div class="inf">
                                    <div class="th">Par</div>
                                    <div class="th">거리(m)</div>
                                </div>
                                <div class="inf">
                                    <div class="td">
                                        <div class="inp">
                                            <input type="text" placeholder="Par 입력" class="ipt-txt">
                                        </div>
                                    </div>
                                    <div class="td">
                                        <div class="inp">
                                            <input type="text" placeholder="거리 입력" class="ipt-txt">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="tac">3홀</th>
                        <td>
                            <div class="info">
                                <div class="inf">
                                    <div class="th">Par</div>
                                    <div class="th">거리(m)</div>
                                </div>
                                <div class="inf">
                                    <div class="td">
                                        <div class="inp">
                                            <input type="text" placeholder="Par 입력" class="ipt-txt">
                                        </div>
                                    </div>
                                    <div class="td">
                                        <div class="inp">
                                            <input type="text" placeholder="거리 입력" class="ipt-txt">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="tac">4홀</th>
                        <td>
                            <div class="info">
                                <div class="inf">
                                    <div class="th">Par</div>
                                    <div class="th">거리(m)</div>
                                </div>
                                <div class="inf">
                                    <div class="td">
                                        <div class="inp">
                                            <input type="text" placeholder="Par 입력" class="ipt-txt">
                                        </div>
                                    </div>
                                    <div class="td">
                                        <div class="inp">
                                            <input type="text" placeholder="거리 입력" class="ipt-txt">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="tac">5홀</th>
                        <td>
                            <div class="info">
                                <div class="inf">
                                    <div class="th">Par</div>
                                    <div class="th">거리(m)</div>
                                </div>
                                <div class="inf">
                                    <div class="td">
                                        <div class="inp">
                                            <input type="text" placeholder="Par 입력" class="ipt-txt">
                                        </div>
                                    </div>
                                    <div class="td">
                                        <div class="inp">
                                            <input type="text" placeholder="거리 입력" class="ipt-txt">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="tac">6홀</th>
                        <td>
                            <div class="info">
                                <div class="inf">
                                    <div class="th">Par</div>
                                    <div class="th">거리(m)</div>
                                </div>
                                <div class="inf">
                                    <div class="td">
                                        <div class="inp">
                                            <input type="text" placeholder="Par 입력" class="ipt-txt">
                                        </div>
                                    </div>
                                    <div class="td">
                                        <div class="inp">
                                            <input type="text" placeholder="거리 입력" class="ipt-txt">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="tac">7홀</th>
                        <td>
                            <div class="info">
                                <div class="inf">
                                    <div class="th">Par</div>
                                    <div class="th">거리(m)</div>
                                </div>
                                <div class="inf">
                                    <div class="td">
                                        <div class="inp">
                                            <input type="text" placeholder="Par 입력" class="ipt-txt">
                                        </div>
                                    </div>
                                    <div class="td">
                                        <div class="inp">
                                            <input type="text" placeholder="거리 입력" class="ipt-txt">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="tac">8홀</th>
                        <td>
                            <div class="info">
                                <div class="inf">
                                    <div class="th">Par</div>
                                    <div class="th">거리(m)</div>
                                </div>
                                <div class="inf">
                                    <div class="td">
                                        <div class="inp">
                                            <input type="text" placeholder="Par 입력" class="ipt-txt">
                                        </div>
                                    </div>
                                    <div class="td">
                                        <div class="inp">
                                            <input type="text" placeholder="거리 입력" class="ipt-txt">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="tac">9홀</th>
                        <td>
                            <div class="info">
                                <div class="inf">
                                    <div class="th">Par</div>
                                    <div class="th">거리(m)</div>
                                </div>
                                <div class="inf">
                                    <div class="td">
                                        <div class="inp">
                                            <input type="text" placeholder="Par 입력" class="ipt-txt">
                                        </div>
                                    </div>
                                    <div class="td">
                                        <div class="inp">
                                            <input type="text" placeholder="거리 입력" class="ipt-txt">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- 계정수정 -->
<div class="modal" id="acn-mdf">
    <div class="list-wrap">
        <div class="title-wrap">
            <fieldset>
                <div class="search">
                    <div class="inn">
                        <div class="input">
                            <input type="text" placeholder="검색어를 입력해주세요." class="ipt-txt">
                            <button class="bt-srch">
                                <i class="ico-src"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="list">
            <div class="item">
                <div class="row">
                    <div class="input">
                        <input type="radio" id="choice1" class="checknum unitcheck" name="choice"> <label
                            for="choice1"><span class="skip">998</span></label>
                    </div>
                    <div class="num">
                        <p>999</p>
                    </div>
                    <div class="item-image">
                        <img src="/img/admin/img/chain2.jpg" alt="체인점">
                    </div>
                    <div class="name">
                        <p>시지점</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="input">
                        <input type="radio" id="choice2" class="checknum unitcheck" name="choice"> <label
                            for="choice2"><span class="skip">998</span></label>
                    </div>
                    <div class="num">
                        <p>998</p>
                    </div>
                    <div class="item-image">
                        <img src="/img/admin/img/chain2.jpg" alt="체인점">
                    </div>
                    <div class="name">
                        <p>시지점</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="input">
                        <input type="radio" id="choice3" class="checknum unitcheck" name="choice"> <label
                            for="choice3"><span class="skip">997</span></label>
                    </div>
                    <div class="num">
                        <p>997</p>
                    </div>
                    <div class="item-image">
                        <img src="/img/admin/icon/chain-noImage.svg" alt="체인점">
                    </div>
                    <div class="name">
                        <p>시지점</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="input">
                        <input type="radio" id="choice4" class="checknum unitcheck" name="choice"> <label
                            for="choice4"><span class="skip">996</span></label>
                    </div>
                    <div class="num">
                        <p>996</p>
                    </div>
                    <div class="item-image">
                        <img src="/img/admin/icon/chain-noImage.svg" alt="체인점">
                    </div>
                    <div class="name">
                        <p>시지점</p>
                    </div>
                </div>
            </div>
            <div class="non-content">
                <i class="ico"></i>
                <span>내용이 없습니다.</span>
            </div>
        </div>
    </div>
</div>

<!-- 광고추가 -->
<div class="modal" id="adv-add">
    <div class="list-wrap">
        <div class="title-wrap">
            <fieldset>
                <div class="search">
                    <div class="inn">
                        <div class="input">
                            <input type="text" placeholder="검색어를 입력해주세요." class="ipt-txt">
                            <button class="bt-srch">
                                <i class="ico-src"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="list">
            <div class="item adv">
                <div class="row">
                    <div class="input">
                        <input type="checkbox" id="choice1" class="checknum unitcheck" name="choice"> <label
                            for="choice1"><span class="skip">999</span></label>
                    </div>
                    <div class="num">
                        <p>999</p>
                    </div>
                    <div class="type">
                        <p>유형</p>
                    </div>
                    <div class="name ads">
                        <p>광고이름</p>
                    </div>
                    <div class="item-image ads">
                    </div>
                    <div class="item-video ads">
                    </div>
                </div>
            </div>
            <div class="item adv">
                <div class="row">
                    <div class="input">
                        <input type="checkbox" id="choice2" class="checknum unitcheck" name="choice"> <label
                            for="choice2"><span class="skip">998</span></label>
                    </div>
                    <div class="num">
                        <p>998</p>
                    </div>
                    <div class="type">
                        <p>유형유형유형유형유형유형유형유형유형</p>
                    </div>
                    <div class="name ads">
                        <p>광고이름광고이름광고이름광고이름광고이름광고이름광고이름광고이름광고이름</p>
                    </div>
                    <div class="item-image ads">
                        <img src="/img/admin/img/golf-ad1.jpg" alt="광고1">
                    </div>
                    <div class="item-video ads">
                        <video controls muted>
                            <source src="/img/admin/img/ad1.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
            <div class="item adv">
                <div class="row">
                    <div class="input">
                        <input type="checkbox" id="choice3" class="checknum unitcheck" name="choice"> <label
                            for="choice3"><span class="skip">997</span></label>
                    </div>
                    <div class="num">
                        <p>997</p>
                    </div>
                    <div class="type">
                        <p>유형</p>
                    </div>
                    <div class="name ads">
                        <p>광고이름</p>
                    </div>
                    <div class="item-image ads">
                        <img src="/img/admin/img/golf-ad2.jpg" alt="광고2">
                    </div>
                    <div class="item-video ads">
                        <video controls muted>
                            <source src="/img/admin/img/ad2.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
            <div class="item adv">
                <div class="row">
                    <div class="input">
                        <input type="checkbox" id="choice4" class="checknum unitcheck" name="choice"> <label
                            for="choice4"><span class="skip">996</span></label>
                    </div>
                    <div class="num">
                        <p>996</p>
                    </div>
                    <div class="type">
                        <p>유형</p>
                    </div>
                    <div class="name ads">
                        <p>광고이름</p>
                    </div>
                    <div class="item-image ads">
                        <img src="/img/admin/img/golf-ad3.jpg" alt="광고3">
                    </div>
                    <div class="item-video ads">
                        <video controls muted>
                            <source src="/img/admin/img/ad3.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
            <div class="non-content">
                <i class="ico"></i>
                <span>내용이 없습니다.</span>
            </div>
        </div>
    </div>
</div>

<!-- 광고그룹선택 -->
<div class="modal" id="adv-slc">
    <div class="list-wrap">
        <div class="title-wrap">
            <fieldset>
                <div class="search">
                    <div class="inn">
                        <div class="input">
                            <input type="text" placeholder="검색어를 입력해주세요." class="ipt-txt">
                            <button class="bt-srch">
                                <i class="ico-src"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="list">
            <div class="table">
                <div class="tbl">
                    <table class="col fixed">
                        <colgroup>
                            <col class="w60">
                            <col class="w80">
                            <col class="w100">
                            <col>
                            <col class="w80">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>선택</th>
                                <th>번호</th>
                                <th>유형</th>
                                <th>광고그룹명</th>
                                <th>광고수</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="radio" id="check999" class="checknum unitcheck" name="check"
                                        onclick="checkSelectAll()"> <label for="check999"><span
                                            class="skip">999</span></label>
                                </td>
                                <td>
                                    <p>999</p>
                                </td>
                                <td>
                                    <p>유형</p>
                                </td>
                                <td class="tal">
                                    <p class="elpss name">광고이름광고이름광고이름광고이름광고이름광고이름광고이름광고이름광고이름</p>
                                </td>
                                <td>
                                    <p>4</p>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="radio" id="check998" class="checknum unitcheck" name="check"
                                        onclick="checkSelectAll()"> <label for="check998"><span
                                            class="skip">998</span></label>
                                </td>
                                <td>
                                    <p>998</p>
                                </td>
                                <td>
                                    <p>유형</p>
                                </td>
                                <td class="tal">
                                    <p class="elpss name">광고이름광고이름광고이름광고이름광고이름광고이름광고이름광고이름광고이름</p>
                                </td>
                                <td>
                                    <p>0</p>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="radio" id="check997" class="checknum unitcheck" name="check"
                                        onclick="checkSelectAll()"> <label for="check997"><span
                                            class="skip">997</span></label>
                                </td>
                                <td>
                                    <p>997</p>
                                </td>
                                <td>
                                    <p>유형</p>
                                </td>
                                <td class="tal">
                                    <p class="elpss name">광고이름광고이름광고이름광고이름광고이름광고이름광고이름광고이름광고이름</p>
                                </td>
                                <td>
                                    <p>0</p>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="radio" id="check996" class="checknum unitcheck" name="check"
                                        onclick="checkSelectAll()"> <label for="check996"><span
                                            class="skip">996</span></label>
                                </td>
                                <td>
                                    <p>996</p>
                                </td>
                                <td>
                                    <p>유형</p>
                                </td>
                                <td class="tal">
                                    <p class="elpss name">광고이름광고이름광고이름광고이름광고이름광고이름광고이름광고이름광고이름</p>
                                </td>
                                <td>
                                    <p>4</p>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="radio" id="check995" class="checknum unitcheck" name="check"
                                        onclick="checkSelectAll()"> <label for="check995"><span
                                            class="skip">995</span></label>
                                </td>
                                <td>
                                    <p>995</p>
                                </td>
                                <td>
                                    <p>유형</p>
                                </td>
                                <td class="tal">
                                    <p class="elpss name">광고이름광고이름광고이름광고이름광고이름광고이름광고이름광고이름광고이름</p>
                                </td>
                                <td>
                                    <p>1</p>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="radio" id="check994" class="checknum unitcheck" name="check"
                                        onclick="checkSelectAll()"> <label for="check994"><span
                                            class="skip">994</span></label>
                                </td>
                                <td>
                                    <p>994</p>
                                </td>
                                <td>
                                    <p>유형</p>
                                </td>
                                <td class="tal">
                                    <p class="elpss name">광고이름광고이름광고이름광고이름광고이름광고이름광고이름광고이름광고이름</p>
                                </td>
                                <td>
                                    <p>2</p>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="radio" id="check993" class="checknum unitcheck" name="check"
                                        onclick="checkSelectAll()"> <label for="check993"><span
                                            class="skip">993</span></label>
                                </td>
                                <td>
                                    <p>993</p>
                                </td>
                                <td>
                                    <p>유형</p>
                                </td>
                                <td class="tal">
                                    <p class="elpss name">광고이름광고이름광고이름광고이름광고이름광고이름광고이름광고이름광고이름</p>
                                </td>
                                <td>
                                    <p>2</p>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="radio" id="check992" class="checknum unitcheck" name="check"
                                        onclick="checkSelectAll()"> <label for="check992"><span
                                            class="skip">992</span></label>
                                </td>
                                <td>
                                    <p>992</p>
                                </td>
                                <td>
                                    <p>유형</p>
                                </td>
                                <td class="tal">
                                    <p class="elpss name">광고이름광고이름광고이름광고이름광고이름광고이름광고이름광고이름광고이름</p>
                                </td>
                                <td>
                                    <p>1</p>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="radio" id="check991" class="checknum unitcheck" name="check"
                                        onclick="checkSelectAll()"> <label for="check991"><span
                                            class="skip">991</span></label>
                                </td>
                                <td>
                                    <p>991</p>
                                </td>
                                <td>
                                    <p>유형</p>
                                </td>
                                <td class="tal">
                                    <p class="elpss name">광고이름광고이름광고이름광고이름광고이름광고이름광고이름광고이름광고이름</p>
                                </td>
                                <td>
                                    <p>1</p>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="radio" id="check990" class="checknum unitcheck" name="check"
                                        onclick="checkSelectAll()"> <label for="check990"><span
                                            class="skip">990</span></label>
                                </td>
                                <td>
                                    <p>990</p>
                                </td>
                                <td>
                                    <p>유형</p>
                                </td>
                                <td class="tal">
                                    <p class="elpss name">광고이름광고이름광고이름광고이름광고이름광고이름광고이름광고이름광고이름</p>
                                </td>
                                <td>
                                    <p>0</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="non-content">
                <i class="ico"></i>
                <span>내용이 없습니다.</span>
            </div>
            <!--#include virtual="/layout/paging/paging.html"-->
        </div>
    </div>
</div>