<!--#include virtual="/layout/mobile/inc/h.html"-->
<header id="header">
    <div class="title line">
        <button class="back"><span class="skip">이전페이지</span></button>
        <h3>골프장정보</h3>
        <div class="none"></div>
    </div>
</header>
<!-- 구장정보 -->
<main class="main">
    <!-- 탭메뉴 -->
    <section class="button-nav">
        <nav class="nav">
            <div class="nav-item act" data-tab="tab1">수성구장</div>
            <div class="nav-item" data-tab="tab2">팔현구장</div>
        </nav>
    </section>
    <!-- 탭 내용 -->
    <section class="tabs-box course">
        <div class="tabs-content" data-tab-act="tab1">
            <!--수성구장-->
            <div class="tabs-section">
                <div class="course-info">
                    <div class="info">
                        <h3>수성파크골프장</h3>
                        <div class="table">
                            <div class="tbl">
                                <table>
                                    <colgroup>
                                        <col class="w100">
                                        <col>
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th>주소</th>
                                            <td>대구시 수성구 고모동 6 - 2</td>
                                        </tr>
                                        <tr>
                                            <th>부지</th>
                                            <td>약 8,800평</td>
                                        </tr>
                                        <tr>
                                            <th>주요 시설</th>
                                            <td>잔디구장, 화장실, 사무실</td>
                                        </tr>
                                        <tr>
                                            <th>휴장일</th>
                                            <td>매주 월요일</td>
                                        </tr>
                                        <tr>
                                            <th>브레이크 타임</th>
                                            <td>12:30 ~ 14:00</td>
                                        </tr>
                                        <tr>
                                            <th>문의</th>
                                            <td>053 - 666 - 2192 ~ 2194</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <h3>코스안내</h3>
                        <div class="guide">
                            <img src="/img/mobile/image/suseong-course.jpg" alt="수성파크골프장">
                        </div>
                        <div class="table">
                            <div class="tbl">
                                <table class="col">
                                    <colgroup>
                                        <col>
                                        <col class="w15p">
                                        <col class="w15p">
                                        <col class="w15p">
                                        <col class="w15p">
                                        <col class="w15p">
                                        <col class="w15p">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th rowspan="2">홀</th>
                                            <th colspan="2" class="crs1">A코스</th>
                                            <th colspan="2" class="crs2">B코스</th>
                                            <th colspan="2" class="crs3">C코스</th>
                                        </tr>
                                        <tr>
                                            <th>Par</th>
                                            <th>거리 (m)</th>
                                            <th>Par</th>
                                            <th>거리 (m)</th>
                                            <th>Par</th>
                                            <th>거리 (m)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>1홀</th>
                                            <td>4</td>
                                            <td>66</td>
                                            <td>4</td>
                                            <td>72</td>
                                            <td>3</td>
                                            <td>63</td>
                                        </tr>
                                        <tr>
                                            <th>2홀</th>
                                            <td>3</td>
                                            <td>48</td>
                                            <td>4</td>
                                            <td>60</td>
                                            <td>5</td>
                                            <td>131</td>
                                        </tr>
                                        <tr>
                                            <th>3홀</th>
                                            <td>4</td>
                                            <td>62</td>
                                            <td>3</td>
                                            <td>48</td>
                                            <td>4</td>
                                            <td>67</td>
                                        </tr>
                                        <tr>
                                            <th>4홀</th>
                                            <td>3</td>
                                            <td>43</td>
                                            <td>4</td>
                                            <td>85</td>
                                            <td>3</td>
                                            <td>47</td>
                                        </tr>
                                        <tr>
                                            <th>5홀</th>
                                            <td>4</td>
                                            <td>73</td>
                                            <td>3</td>
                                            <td>49</td>
                                            <td>4</td>
                                            <td>70</td>
                                        </tr>
                                        <tr>
                                            <th>6홀</th>
                                            <td>3</td>
                                            <td>45</td>
                                            <td>4</td>
                                            <td>74</td>
                                            <td>3</td>
                                            <td>47</td>
                                        </tr>
                                        <tr>
                                            <th>7홀</th>
                                            <td>3</td>
                                            <td>50</td>
                                            <td>3</td>
                                            <td>44</td>
                                            <td>4</td>
                                            <td>64</td>
                                        </tr>
                                        <tr>
                                            <th>8홀</th>
                                            <td>4</td>
                                            <td>74</td>
                                            <td>3</td>
                                            <td>45</td>
                                            <td>3</td>
                                            <td>45</td>
                                        </tr>
                                        <tr>
                                            <th>9홀</th>
                                            <td>5</td>
                                            <td>135</td>
                                            <td>5</td>
                                            <td>140</td>
                                            <td>4</td>
                                            <td>65</td>
                                        </tr>
                                        <tr class="sum">
                                            <td>계</td>
                                            <td>33</td>
                                            <td>596</td>
                                            <td>33</td>
                                            <td>617</td>
                                            <td>33</td>
                                            <td>599</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 팔현구장 -->
            <div class="tabs-section">
                <div class="course">
                    <div class="course-info">
                        <div class="info">
                            <h3>팔현파크골프장</h3>
                            <div class="table">
                                <div class="tbl">
                                    <table>
                                        <colgroup>
                                            <col class="w100">
                                            <col>
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <th>주소</th>
                                                <td>대구시 수성구 고모동 20 - 3</td>
                                            </tr>
                                            <tr>
                                                <th>부지</th>
                                                <td>약 14,140평</td>
                                            </tr>
                                            <tr>
                                                <th>주요 시설</th>
                                                <td>잔디구장, 화장실, 사무실</td>
                                            </tr>
                                            <tr>
                                                <th>휴장일</th>
                                                <td>매주 월요일</td>
                                            </tr>
                                            <tr>
                                                <th>브레이크 타임</th>
                                                <td>12:30 ~ 14:00</td>
                                            </tr>
                                            <tr>
                                                <th>문의</th>
                                                <td>053 - 666 - 2192 ~ 2194</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="info">
                            <h3>코스안내</h3>
                            <div class="guide">
                                <img src="/img/mobile/image/palhyeon-course.jpg" alt="팔현파크골프장">
                            </div>
                            <div class="table">
                                <div class="tbl">
                                    <table class="col">
                                        <colgroup>
                                            <col>
                                            <col class="w15p">
                                            <col class="w15p">
                                            <col class="w15p">
                                            <col class="w15p">
                                            <col class="w15p">
                                            <col class="w15p">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th rowspan="2">홀</th>
                                                <th colspan="2" class="crs1">A코스</th>
                                                <th colspan="2" class="crs2">B코스</th>
                                                <th colspan="2" class="crs3">C코스</th>
                                            </tr>
                                            <tr>
                                                <th>Par</th>
                                                <th>거리 (m)</th>
                                                <th>Par</th>
                                                <th>거리 (m)</th>
                                                <th>Par</th>
                                                <th>거리 (m)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>1홀</th>
                                                <td>3</td>
                                                <td>40</td>
                                                <td>3</td>
                                                <td>43</td>
                                                <td>4</td>
                                                <td>69</td>
                                            </tr>
                                            <tr>
                                                <th>2홀</th>
                                                <td>3</td>
                                                <td>47</td>
                                                <td>3</td>
                                                <td>39</td>
                                                <td>3</td>
                                                <td>36</td>
                                            </tr>
                                            <tr>
                                                <th>3홀</th>
                                                <td>4</td>
                                                <td>64</td>
                                                <td>4</td>
                                                <td>75</td>
                                                <td>4</td>
                                                <td>56</td>
                                            </tr>
                                            <tr>
                                                <th>4홀</th>
                                                <td>4</td>
                                                <td>51</td>
                                                <td>4</td>
                                                <td>62</td>
                                                <td>3</td>
                                                <td>38</td>
                                            </tr>
                                            <tr>
                                                <th>5홀</th>
                                                <td>4</td>
                                                <td>54</td>
                                                <td>4</td>
                                                <td>68</td>
                                                <td>5</td>
                                                <td>100</td>
                                            </tr>
                                            <tr>
                                                <th>6홀</th>
                                                <td>5</td>
                                                <td>102</td>
                                                <td>5</td>
                                                <td>101</td>
                                                <td>3</td>
                                                <td>47</td>
                                            </tr>
                                            <tr>
                                                <th>7홀</th>
                                                <td>4</td>
                                                <td>58</td>
                                                <td>3</td>
                                                <td>39</td>
                                                <td>4</td>
                                                <td>52</td>
                                            </tr>
                                            <tr>
                                                <th>8홀</th>
                                                <td>3</td>
                                                <td>41</td>
                                                <td>3</td>
                                                <td>34</td>
                                                <td>3</td>
                                                <td>43</td>
                                            </tr>
                                            <tr>
                                                <th>9홀</th>
                                                <td>3</td>
                                                <td>37</td>
                                                <td>4</td>
                                                <td>64</td>
                                                <td>4</td>
                                                <td>54</td>
                                            </tr>
                                            <tr class="sum">
                                                <td>계</td>
                                                <td>33</td>
                                                <td>494</td>
                                                <td>33</td>
                                                <td>525</td>
                                                <td>33</td>
                                                <td>495</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>



<!--#include virtual="/layout/mobile/inc/f.html"-->