<!--#include virtual="/layout/mobile/inc/h.html"-->
<header id="header">
    <div class="title line">
        <button class="back"><span class="skip">이전페이지</span></button>
        <h3>스케줄보기</h3>
        <div class="none"></div>
    </div>
</header>
<!-- 스케줄보기 -->
<main class="main schedule">
    <div class="gray">
        <!-- 회원정보 -->
        <section class="user-info">
            <div class="wrap">
                <div class="inner">
                    <div class="text">
                        <p class="id-wrap"><b class="id">abcd1234</b>님은</p>
                        <p class="sort"><b>클럽회원</b>입니다.</p>
                    </div>
                    <div class="state">
                        <p>클럽명</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- 그룹 스케줄 정보 -->
        <section class="group">
            <div class="wrap">
                <div class="card">
                    <div class="grp">회원님은 <b class="green">홀A</b> 그룹 입니다.</div>
                </div>
                <div class="inn">
                    <div class="tit">홀A 스케줄</div>
                    <div class="card">
                        <div class="schd">
                            <div class="wrp">
                                <div class="day">홀수일</div>
                                <div class="time-wrap">
                                    <b>오후</b>
                                    <p class="time">14:00 ~ 17:00</p>
                                </div>
                            </div>
                            <div class="field">팔현구장</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="schd">
                            <div class="wrp">
                                <div class="day">짝수일</div>
                                <div class="time-wrap">
                                    <b>오전</b>
                                    <p class="time">09:00 ~ 12:30</p>
                                </div>
                            </div>
                            <div class="field">수성구장</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<!--#include virtual="/layout/mobile/inc/f.html"-->