<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 minimum-scale=0,maximum-scale=1.0,user-scalable=no">
    <title>파크골프 출입시스템</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/mobile/mobile.css">
    <!-- jquery  -->
    <script src="/js/jquery/jquery-3.7.1.min.js"></script>
    <script src="/js/jquery/jquery-ui.min.js"></script>
    <!-- jBox -->
    <script src="/js/jBox/jBox.all.js"></script>
    <link rel="stylesheet" href="/js/jBox/jBox.all.css"></link>
    <link rel="stylesheet" href="/css/modal.css">
    <!-- 모바일 js -->
    <script src="/js/mobile/mobile.js"></script>
    <script src="/js/mobile/modal.js"></script>
    <!-- datepicker -->
    <script src="/js/datepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" href="/js/datepicker/daterangepicker.css"></link>
</head>

<body>
    <div id="main">
        <div id="mobile">