<!--#include virtual="/layout/mobile/inc/h.html"-->
<!-- 골프장 출입 내역 -->

<header id="header">
    <div class="title line">
        <button class="back"><span class="skip">이전페이지</span></button>
        <h3>입장내역</h3>
        <div class="none"></div>
    </div>
</header>
<main class="main">
    <!-- 출입내역 -->
    <section class="list-wrap">
        <div class="wrap">
            <div class="list">
                <div class="content">
                    <div class="when">2024. 03. 18 월 13:00</div>
                    <div class="who">홍길동</div>
                    <div class="where">파크골프 수성구장</div>
                </div>
                <!-- 입장 내역이 없을 경우 -->
                <div class="content-none">
                    <p> 입장 내역이 없습니다.</p>
                </div>
            </div>
        </div>
    </section>
</main>
<!--#include virtual="/layout/mobile/inc/f.html"-->