<!--#include virtual="/layout/mobile/inc/h.html"-->
<header id="header">
    <div class="title wht line">
        <button class="prev" onclick="location.href='/mobile/record/match-list.html'"><span
                class="skip">이전페이지</span></button>
        <h3>경기 상세 보기</h3>
        <div class="item hidden"></div>
    </div>
</header>
<!-- 경기상세보기 -->
<main class="match-wrap mainflex">
    <section class="match-title">
        <div class="bg"></div>
        <div class="title">
            <div class="date">
                <p>2024. 02. 08</p>
            </div>
            <h3 class="course">서재 코스</h3>
            <div class="inf">
                <p class="shop">시지점</p>
                <p class="distance">1105m</p>
                <p class="hole">18홀</p>
                <p class="person">2인</p>
            </div>
        </div>
    </section>
    <!-- 스코어카드 -->
    <section class="box-wrap score-card">
        <div class="box">
            <div class="tit">
                <h2>스코어카드</h2>
            </div>
            <div class="scoreinf">
                <div class="inner-wrap">
                    <div class="inner">
                        <div class="inn">
                            <div class="profile">
                                <div class="img guest1"></div>
                                <span class="my">나</span>
                            </div>
                            <b class="nickname">guest1</b>
                        </div>
                        <div class="inn">
                            <div class="stroke">
                                <small>타수</small>
                                <b>342</b>
                            </div>
                            <i class="view-ico"></i>
                        </div>
                    </div>
                    <div class="content">
                        <div class="table">
                            <div class="tit">A코스</div>
                            <div class="tbl">
                                <table class="col">
                                    <colgroup>
                                        <col>
                                        <col class="w9p">
                                        <col class="w9p">
                                        <col class="w9p">
                                        <col class="w9p">
                                        <col class="w9p">
                                        <col class="w9p">
                                        <col class="w9p">
                                        <col class="w9p">
                                        <col class="w9p">
                                    </colgroup>
                                    <thead class="line">
                                        <tr>
                                            <th>HOLE</th>
                                            <th>1</th>
                                            <th>2</th>
                                            <th>3</th>
                                            <th>4</th>
                                            <th>5</th>
                                            <th>6</th>
                                            <th>7</th>
                                            <th>8</th>
                                            <th>9</th>
                                        </tr>
                                    </thead>
                                    <tbody class="line">
                                        <tr>
                                            <td><b>PAR</b></td>
                                            <td>3</td>
                                            <td>4</td>
                                            <td>4</td>
                                            <td>4</td>
                                            <td>3</td>
                                            <td>4</td>
                                            <td>3</td>
                                            <td>3</td>
                                            <td>5</td>
                                        </tr>
                                        <tr>
                                            <td><b>타수</b></td>
                                            <td>
                                                <p class="red">6</p>
                                            </td>
                                            <td>
                                                <p class="red">5</p>
                                            </td>
                                            <td>
                                                <p class="red">5</p>
                                            </td>
                                            <td>
                                                <p class="blue">3</p>
                                            </td>
                                            <td>3</td>
                                            <td>4</td>
                                            <td>
                                                <p class="red">4</p>
                                            </td>
                                            <td>
                                                <p class="red">5</p>
                                            </td>
                                            <td>5</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="button">
                                <button class="view-btn" onclick="location.href='/mobile/record/analysis.html'">샷 분석
                                    보기</button>
                            </div>
                        </div>
                        <div class="table">
                            <div class="tit">B코스</div>
                            <div class="tbl">
                                <table class="col">
                                    <colgroup>
                                        <col>
                                        <col class="w9p">
                                        <col class="w9p">
                                        <col class="w9p">
                                        <col class="w9p">
                                        <col class="w9p">
                                        <col class="w9p">
                                        <col class="w9p">
                                        <col class="w9p">
                                        <col class="w9p">
                                    </colgroup>
                                    <thead class="line">
                                        <tr>
                                            <th>HOLE</th>
                                            <th>1</th>
                                            <th>2</th>
                                            <th>3</th>
                                            <th>4</th>
                                            <th>5</th>
                                            <th>6</th>
                                            <th>7</th>
                                            <th>8</th>
                                            <th>9</th>
                                        </tr>
                                    </thead>
                                    <tbody class="line">
                                        <tr>
                                            <td><b>PAR</b></td>
                                            <td>3</td>
                                            <td>4</td>
                                            <td>4</td>
                                            <td>4</td>
                                            <td>3</td>
                                            <td>4</td>
                                            <td>3</td>
                                            <td>3</td>
                                            <td>5</td>
                                        </tr>
                                        <tr>
                                            <td><b>타수</b></td>
                                            <td>
                                                <p class="red">6</p>
                                            </td>
                                            <td>
                                                <p class="red">5</p>
                                            </td>
                                            <td>
                                                <p class="red">5</p>
                                            </td>
                                            <td>
                                                <p class="blue">3</p>
                                            </td>
                                            <td>3</td>
                                            <td>4</td>
                                            <td>
                                                <p class="red">4</p>
                                            </td>
                                            <td>
                                                <p class="red">5</p>
                                            </td>
                                            <td>5</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="button">
                                <button class="view-btn" onclick="location.href='/mobile/record/analysis.html'">샷 분석
                                    보기</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inner">
                    <div class="inn">
                        <div class="profile">
                            <div class="img guest2"></div>
                        </div>
                        <b class="nickname">guest2</b>
                    </div>
                    <div class="inn">
                        <div class="stroke">
                            <small>타수</small>
                            <b>62</b>
                        </div>
                        <i class="view-ico hidden"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 스윙영상 -->
    <section class="box-wrap swing">
        <div class="box">
            <div class="tit">
                <h2>스윙영상</h2>
            </div>
            <div class="video-wrap">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="content">
                                <button class="icon swing-video">
                                    <i class="play-icon"></i>
                                </button>
                                <div class="img">
                                    <img src="/img/moblie/video/image.png" alt="스윙">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="content">
                                <button class="icon swing-video">
                                    <i class="play-icon"></i>
                                </button>
                                <div class="img">
                                    <img src="/img/moblie/video/image.png" alt="스윙">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="content">
                                <button class="icon swing-video">
                                    <i class="play-icon"></i>
                                </button>
                                <div class="img">
                                    <img src="/img/moblie/video/image.png" alt="스윙">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="content">
                                <button class="icon swing-video">
                                    <i class="play-icon"></i>
                                </button>
                                <div class="img">
                                    <img src="/img/moblie/video/image.png" alt="스윙">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="content">
                                <button class="icon swing-video">
                                    <i class="play-icon"></i>
                                </button>
                                <div class="img">
                                    <img src="/img/moblie/video/image.png" alt="스윙">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- 라운드 분석 -->
    <section class="box-wrap analysis">
        <div class="box">
            <div class="tit">
                <h2>라운드 분석</h2>
            </div>
            <div class="table">
                <div class="tbl">
                    <table class="col">
                        <colgroup>
                            <col>
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th class="txt-cnt">분석 항목</th>
                                <th class="txt-cnt">내 기록</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="txt-cnt">최대 거리</td>
                                <td class="txt-rgt">107.75m</td>
                            </tr>
                            <tr>
                                <td class="txt-cnt">평균 거리</td>
                                <td class="txt-rgt">793.34m</td>
                            </tr>
                            <tr>
                                <td class="txt-cnt">최대 퍼터</td>
                                <td class="txt-rgt">8.53m</td>
                            </tr>
                            <tr>
                                <td class="txt-cnt">평균 퍼터</td>
                                <td class="txt-rgt">3.07m</td>
                            </tr>
                            <tr>
                                <td class="txt-cnt">플레이 홀 수</td>
                                <td class="txt-rgt">18 홀</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</main>
<script>
    var swiper = new Swiper(".mySwiper", {
        spaceBetween: 10,
        slidesPerView: 2.5,
        centeredSlides: false,
        autoplay: false,
        loop: false,
        freeMode: false,
        watchOverflow: true,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
    });

</script>



<!--#include virtual="/layout/mobile/inc/f.html"-->