<!--#include virtual="/layout/mobile/inc/h.html"-->
<header id="header">
    <div class="title wht line">
        <button class="prev" onclick="location.href='/mobile/record/record.html'"><span
                class="skip">이전페이지</span></button>
        <h3>경기 정보</h3>
        <div class="item hidden"></div>
    </div>
</header>
<!-- 경기정보리스트 -->
<main class="match-wrap mainflex">
    <!-- 리스트 -->
    <section class="match-list">
        <!-- 경기정보 -->
        <button class="box" onclick="location.href='/mobile/record/match-detail.html'">
            <div class="infrm">
                <div class="date">
                    <p>2024.02.08</p>
                </div>
                <h3 class="course">서재 코스</h3>
                <div class="inf">
                    <p class="shop">시지점</p>
                    <p class="distance">1105m</p>
                    <p class="hole">18홀</p>
                    <p class="person">2인</p>
                </div>
            </div>
            <div class="stroke">
                <small>타수</small>
                <b>342</b>
            </div>
        </button>
        <!-- 경기정보 -->
        <button class="box">
            <div class="infrm">
                <div class="date">
                    <p>2023.11.15</p>
                </div>
                <h3 class="course">영천 조교 코스</h3>
                <div class="inf">
                    <p class="shop">시지점</p>
                    <p class="distance">2684m</p>
                    <p class="hole">18홀</p>
                    <p class="person">2인</p>
                </div>
            </div>
            <div class="stroke">
                <small>타수</small>
                <b>66</b>
            </div>
        </button>
    </section>
</main>
<!--#include virtual="/layout/mobile/inc/f.html"-->