<!--#include virtual="/layout/admin/inc/h.html"-->
<script>
    $(function () {
        $(".dp1:nth-child(3)").addClass('act');
        $(".dp1:nth-child(3) .depth2").show();
        $(".dp1:nth-child(3) .depth2 li:nth-child(1)").addClass('act');
    });
</script>

<!-- main -->
<main id="admin">
    <!-- 페이지 위치 -->
    <section class="title">
        <h3>일반회원 등록</h3>
    </section>
    <section class="contain">
        <div class="content short">
            <div class="table">
                <div class="tbl">
                    <table class="row">
                        <colgroup>
                            <col class="w200">
                            <col>
                            <col class="w200">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <!-- 이름 -->
                                <th class="tac">이름</th>
                                <td>
                                    <div class="form">
                                        <div class="ipt w100p">
                                            <input type="text" class="ip-txt w100p" placeholder="이름을 입력해주세요.">
                                        </div>
                                    </div>
                                </td>
                                <!-- 생년월일 -->
                                <th class="tac">생년월일</th>
                                <td>
                                    <div class="form">
                                        <div class="ipt w100p">
                                            <input type="text" class="ip-txt w100p"
                                                placeholder="주민등록 생년월일 8자리를 입력해주세요.">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <!-- 핸드폰번호 -->
                                <th class="tac">핸드폰 번호</th>
                                <td>
                                    <div class="form">
                                        <div class="ipt w100p">
                                            <input type="text" class="ip-txt w100p" placeholder="핸드폰 번호를 입력해주세요.">
                                        </div>
                                    </div>
                                </td>
                                <!-- 아이디 -->
                                <th class="tac">아이디</th>
                                <td>
                                    <div class="form">
                                        <div class="ipt w100p">
                                            <input type="text" class="ip-txt w100p" placeholder="아이디를 입력해주세요.">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <!-- 비밀번호 -->
                                <th class="tac">비밀번호</th>
                                <td>
                                    <div class="form">
                                        <div class="ipt w100p">
                                            <input type="text" class="ip-txt w100p" placeholder="핸드폰 번호를 입력해주세요.">
                                        </div>
                                    </div>
                                </td>
                                <!-- 비밀번호확인 -->
                                <th class="tac">비밀번호 확인</th>
                                <td>
                                    <div class="form">
                                        <div class="ipt w100p">
                                            <input type="text" class="ip-txt w100p" placeholder="아이디를 입력해주세요.">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="tac">메모</th>
                                <td colspan="3"><textarea class="textarea" placeholder="메모를 입력해주세요."></textarea></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="button-wrap">
                    <div class="button">
                        <button class="bt bt-rgstr"  onclick="location.href='index.html'">회원등록</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!--#include virtual="/layout/admin/inc/f.html"-->