<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0 minimum-scale=0,maximum-scale=1.0,user-scalable=no">
    <title>파크골프</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/mobile/mobile.css">
    <!-- jquery  -->
    <script src="/js/jquery/jquery-3.7.1.min.js"></script>
    <script src="/js/jquery/jquery-ui.min.js"></script>
    <!-- jBox -->
    <script src="/js/jBox/jBox.all.js"></script>
    <link rel="stylesheet" href="/js/jBox/jBox.all.css">
    <!-- swiper -->
    <script src="/js/swiper/swiper-bundle.js"></script>
    <link rel="stylesheet" href="/js/swiper/swiper-bundle.css">
    <!-- videojs -->
    <script src="/js/videojs/video.min.js"></script>
    <link rel="stylesheet" href="/js/videojs/video-js.min.css">
    <!-- mobile  -->
    <script src="/js/mobile/mobile.js"></script>
    <script src="/js/mobile/modal.js"></script>
    <link rel="stylesheet" href="/css/mobile/modal.css">
    <!-- chart -->
    <script src="/js/chart/chart.js"></script>
    <script src="/js/chart/chartjs-plugin-datalabels.js"></script>
</head>

<body>
    <div id="main">
        <div class="main-bg"></div>
        <div id="main-explain">
            <div class="explain">
                <div class="header">
                    <a href="#" class="logo"></a>
                </div>
                <div class="explain-main">
                    <div class="content">
                        <div class="text">
                            <p class="sml"><b class="org">스크린 파크골프 시스템</b>의 최강자</p>
                            <p class="mdl">최고의 솔루션을 제공하는</p>
                            <h2 class="grn">대한파크골프시스템</h2>
                        </div>
                    </div>
                    <div class="content">
                        <div class="cons">
                            <div class="con">
                                <div class="icon"><i class="icon-1"></i></div>
                                <p>초고속 카메라 기반 시스템으로 정확한 계측</p>
                            </div>
                            <div class="con">
                                <div class="icon"><i class="icon-2"></i></div>
                                <p>극대화된 정확도로 정밀한 스윙분석</p>
                            </div>
                            <div class="con">
                                <div class="icon"><i class="icon-3"></i></div>
                                <p>현실감있는 플레이가 가능한 솔루션</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <div class="contents">
                        <div class="store">
                            <a href="" class="google str"></a>
                            <a href="" class="apple str"></a>
                        </div>
                        <div class="buttons col">
                            <!-- kpgs이동 -->
                            <button class="btn" onclick="window.open('https://www.kspgs.kr/')">
                                <i class="logo kpgs"></i> <i class="right-ico"></i>
                            </button>
                            <!-- 파세지아타 이동 -->
                            <button class="btn" onclick="window.open('https://www.passeggiata.kr/')"><i
                                    class="logo passeggiata"></i><i class="right-ico"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="mobile">