<!--#include virtual="/layout/admin/inc/h.html"-->
<script>
    $(function () {
        $(".dp1:nth-child(5)").addClass('act');
        $(".dp1:nth-child(5) .depth2").show();
        $(".dp1:nth-child(5) .depth2 li:nth-child(1)").addClass('act');
    });
</script>
<!-- main -->
<main id="admin">
    <section class="title">
        <div class="titl">
            <h3>체인점관리</h3>
            <p>체인점목록</p>
        </div>
    </section>
    <section class="contain">
        <div class="content list">
            <div class="titles">
                <h4>체인점</h4>
                <div class="title-wrap">
                    <fieldset>
                        <div class="search">
                            <div class="inn">
                                <div class="input">
                                    <input type="text" placeholder="검색어를 입력해주세요." class="ipt-txt w200">
                                    <button class="bt-srch">
                                        <i class="ico-src"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="buttons">
                        <button class="bt bt-del check" data-confirm="삭제하시겠습니까?" data-title="삭제">삭제</button>
                        <button class="bt bt-add" onclick="location.href='/admin/chain/chain-add.html'">체인점 등록</button>
                    </div>
                </div>
            </div>
            <div class="table">
                <div class="tbl">
                    <table class="col fixed">
                        <colgroup>
                            <col class="w60">
                            <col class="w100">
                            <col class="w150">
                            <col class="w100">
                            <col>
                            <col class="w300">
                            <col class="w100">
                        </colgroup>
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="allcheck" class="checknum" name="allcheck"
                                        onclick="selectAll(this)"> <label for="allcheck"><span
                                            class="skip">전체선택</span></label>
                                </th>
                                <th>번호</th>
                                <th>체인점명</th>
                                <th>코드</th>
                                <th>주소</th>
                                <th>광고그룹명</th>
                                <th>등록일</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox" id="check999" class="checknum unitcheck" name="check"
                                        onclick="checkSelectAll()"> <label for="check999"><span
                                            class="skip">999</span></label>
                                </td>
                                <td>
                                    <p>999</p>
                                </td>
                                <td>
                                    <a href="/admin/chain/chain-view.html" class="pointer point">
                                        <p class="elpss">시지점</p>
                                    </a>
                                </td>
                                <td>001</td>
                                <td class="tal">
                                    <p class="elpss">대구 수성구 고산로 123 하나타운 제 1-13동</p>
                                </td>
                                <td>
                                    <p class="chip"><small class="dvs">시지점광고</small></p>
                                </td>
                                <td>
                                    <p class="date">2024-08-29</p>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="check998" class="checknum unitcheck" name="check"
                                        onclick="checkSelectAll()"> <label for="check998"><span
                                            class="skip">998</span></label>
                                </td>
                                <td>
                                    <p>998</p>
                                </td>
                                <td>
                                    <a href="/admin/chain/chain-view.html" class="pointer point">
                                        <p class="elpss">시지점</p>
                                    </a>
                                </td>
                                <td>001</td>
                                <td class="tal">
                                    <p class="elpss">대구 수성구 고산로 123 하나타운 제 1-13동</p>
                                </td>
                                <td>
                                    <p class="chip"><small class="dvs">시지점광고</small></p>
                                </td>
                                <td>
                                    <p class="date">2024-08-29</p>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="check997" class="checknum unitcheck" name="check"
                                        onclick="checkSelectAll()"> <label for="check997"><span
                                            class="skip">997</span></label>
                                </td>
                                <td>
                                    <p>997</p>
                                </td>
                                <td>
                                    <a href="/admin/chain/chain-view.html" class="pointer point">
                                        <p class="elpss">시지점</p>
                                    </a>
                                </td>
                                <td>001</td>
                                <td class="tal">
                                    <p class="elpss">대구 수성구 고산로 123 하나타운 제 1-13동</p>
                                </td>
                                <td>
                                    <p class="chip"><small class="dvs">시지점광고</small></p>
                                </td>
                                <td>
                                    <p class="date">2024-08-29</p>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="check996" class="checknum unitcheck" name="check"
                                        onclick="checkSelectAll()"> <label for="check996"><span
                                            class="skip">996</span></label>
                                </td>
                                <td>
                                    <p>996</p>
                                </td>
                                <td>
                                    <a href="/admin/chain/chain-view.html" class="pointer point">
                                        <p class="elpss">시지점</p>
                                    </a>
                                </td>
                                <td>001</td>
                                <td class="tal">
                                    <p class="elpss">대구 수성구 고산로 123 하나타운 제 1-13동</p>
                                </td>
                                <td>
                                    <p class="chip"><small class="dvs">시지점광고</small></p>
                                </td>
                                <td>
                                    <p class="date">2024-08-29</p>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="check995" class="checknum unitcheck" name="check"
                                        onclick="checkSelectAll()"> <label for="check995"><span
                                            class="skip">995</span></label>
                                </td>
                                <td>
                                    <p>995</p>
                                </td>
                                <td>
                                    <a href="/admin/chain/chain-view.html" class="pointer point">
                                        <p class="elpss">시지점</p>
                                    </a>
                                </td>
                                <td>001</td>
                                <td class="tal">
                                    <p class="elpss">대구 수성구 고산로 123 하나타운 제 1-13동</p>
                                </td>
                                <td>
                                    <p class="chip"><small class="dvs">시지점광고</small></p>
                                </td>
                                <td>
                                    <p class="date">2024-08-29</p>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="check994" class="checknum unitcheck" name="check"
                                        onclick="checkSelectAll()"> <label for="check994"><span
                                            class="skip">994</span></label>
                                </td>
                                <td>
                                    <p>994</p>
                                </td>
                                <td>
                                    <a href="/admin/chain/chain-view.html" class="pointer point">
                                        <p class="elpss">시지점</p>
                                    </a>
                                </td>
                                <td>001</td>
                                <td class="tal">
                                    <p class="elpss">대구 수성구 고산로 123 하나타운 제 1-13동</p>
                                </td>
                                <td>
                                    <p class="chip"><small class="dvs">시지점광고</small></p>
                                </td>
                                <td>
                                    <p class="date">2024-08-29</p>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="check993" class="checknum unitcheck" name="check"
                                        onclick="checkSelectAll()"> <label for="check993"><span
                                            class="skip">993</span></label>
                                </td>
                                <td>
                                    <p>993</p>
                                </td>
                                <td>
                                    <a href="/admin/chain/chain-view.html" class="pointer point">
                                        <p class="elpss">시지점</p>
                                    </a>
                                </td>
                                <td>001</td>
                                <td class="tal">
                                    <p class="elpss">대구 수성구 고산로 123 하나타운 제 1-13동</p>
                                </td>
                                <td>
                                    <p class="chip"><small class="dvs">시지점광고</small></p>
                                </td>
                                <td>
                                    <p class="date">2024-08-29</p>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="check992" class="checknum unitcheck" name="check"
                                        onclick="checkSelectAll()"> <label for="check992"><span
                                            class="skip">992</span></label>
                                </td>
                                <td>
                                    <p>992</p>
                                </td>
                                <td>
                                    <a href="/admin/chain/chain-view.html" class="pointer point">
                                        <p class="elpss">시지점</p>
                                    </a>
                                </td>
                                <td>001</td>
                                <td class="tal">
                                    <p class="elpss">대구 수성구 고산로 123 하나타운 제 1-13동</p>
                                </td>
                                <td>
                                    <p class="chip"><small class="dvs">시지점광고</small></p>
                                </td>
                                <td>
                                    <p class="date">2024-08-29</p>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="check991" class="checknum unitcheck" name="check"
                                        onclick="checkSelectAll()"> <label for="check991"><span
                                            class="skip">991</span></label>
                                </td>
                                <td>
                                    <p>991</p>
                                </td>
                                <td>
                                    <a href="/admin/chain/chain-view.html" class="pointer point">
                                        <p class="elpss">시지점</p>
                                    </a>
                                </td>
                                <td>001</td>
                                <td class="tal">
                                    <p class="elpss">대구 수성구 고산로 123 하나타운 제 1-13동</p>
                                </td>
                                <td>
                                    <p class="chip"><small class="dvs">시지점광고</small></p>
                                </td>
                                <td>
                                    <p class="date">2024-08-29</p>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="check990" class="checknum unitcheck" name="check"
                                        onclick="checkSelectAll()"> <label for="check990"><span
                                            class="skip">990</span></label>
                                </td>
                                <td>
                                    <p>990</p>
                                </td>
                                <td>
                                    <a href="/admin/chain/chain-view.html" class="pointer point">
                                        <p class="elpss">시지점</p>
                                    </a>
                                </td>
                                <td>001</td>
                                <td class="tal">
                                    <p class="elpss">대구 수성구 고산로 123 하나타운 제 1-13동</p>
                                </td>
                                <td>
                                    <p class="chip"><small class="dvs">시지점광고</small></p>
                                </td>
                                <td>
                                    <p class="date">2024-08-29</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="non-content">
                <i class="ico"></i>
                <span>내용이 없습니다.</span>
            </div>
            <!--#include virtual="/layout/paging/paging.html"-->
        </div>
    </section>
</main>
<!--#include virtual="/layout/admin/inc/f.html"-->