<!--#include virtual="/layout/admin/inc/h.html"-->
<script>
    $(function () {
        $(".dp1:nth-child(5)").addClass('act');
        $(".dp1:nth-child(5) .depth2").show();
        $(".dp1:nth-child(5) .depth2 li:nth-child(4)").addClass('act');
    });
</script>
<!-- main -->
<main id="admin">
    <section class="title">
        <div class="titl">
            <h3>체인점관리</h3>
            <p>계정권한변경</p>
        </div>
    </section>
    <section class="contain">
        <div class="content list">
            <div class="titles">
                <h4>계정권한변경</h4>
                <div class="title-wrap">
                    <fieldset>
                        <div class="search">
                            <div class="inn">
                                <div class="input">
                                    <input type="text" placeholder="검색어를 입력해주세요." class="ipt-txt w200">
                                    <button class="bt-srch">
                                        <i class="ico-src"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="table">
                <div class="tbl">
                    <table class="col fixed">
                        <colgroup>
                            <col class="w100">
                            <col>
                            <col>
                            <col class="w250">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>번호</th>
                                <th>아이디</th>
                                <th>닉네임</th>
                                <th>권한</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <p>999</p>
                                </td>
                                <td class="tal">
                                    <p class="elpss">abcd123</p>
                                </td>
                                <td class="tal">
                                    <p class="elpss">닉네임</p>
                                </td>
                                <td>
                                    <div class="select">
                                        <select name="select" title="그룹" class="sel">
                                            <option>user</option>
                                            <option>chain</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>998</p>
                                </td>
                                <td class="tal">
                                    <p class="elpss">abcd123</p>
                                </td>
                                <td class="tal">
                                    <p class="elpss">닉네임</p>
                                </td>
                                <td>
                                    <div class="select">
                                        <select name="select" title="그룹" class="sel">
                                            <option>user</option>
                                            <option>chain</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>997</p>
                                </td>
                                <td class="tal">
                                    <p class="elpss">abcd123</p>
                                </td>
                                <td class="tal">
                                    <p class="elpss">닉네임</p>
                                </td>
                                <td>
                                    <div class="select">
                                        <select name="select" title="그룹" class="sel">
                                            <option>user</option>
                                            <option>chain</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>996</p>
                                </td>
                                <td class="tal">
                                    <p class="elpss">abcd123</p>
                                </td>
                                <td class="tal">
                                    <p class="elpss">닉네임</p>
                                </td>
                                <td>
                                    <div class="select">
                                        <select name="select" title="그룹" class="sel">
                                            <option>user</option>
                                            <option>chain</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>995</p>
                                </td>
                                <td class="tal">
                                    <p class="elpss">abcd123</p>
                                </td>
                                <td class="tal">
                                    <p class="elpss">닉네임</p>
                                </td>
                                <td>
                                    <div class="select">
                                        <select name="select" title="그룹" class="sel">
                                            <option>user</option>
                                            <option>chain</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>994</p>
                                </td>
                                <td class="tal">
                                    <p class="elpss">abcd123</p>
                                </td>
                                <td class="tal">
                                    <p class="elpss">닉네임</p>
                                </td>
                                <td>
                                    <div class="select">
                                        <select name="select" title="그룹" class="sel">
                                            <option>user</option>
                                            <option>chain</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>993</p>
                                </td>
                                <td class="tal">
                                    <p class="elpss">abcd123</p>
                                </td>
                                <td class="tal">
                                    <p class="elpss">닉네임</p>
                                </td>
                                <td>
                                    <div class="select">
                                        <select name="select" title="그룹" class="sel">
                                            <option>user</option>
                                            <option>chain</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>992</p>
                                </td>
                                <td class="tal">
                                    <p class="elpss">abcd123</p>
                                </td>
                                <td class="tal">
                                    <p class="elpss">닉네임</p>
                                </td>
                                <td>
                                    <div class="select">
                                        <select name="select" title="그룹" class="sel">
                                            <option>user</option>
                                            <option>chain</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>991</p>
                                </td>
                                <td class="tal">
                                    <p class="elpss">abcd123</p>
                                </td>
                                <td class="tal">
                                    <p class="elpss">닉네임</p>
                                </td>
                                <td>
                                    <div class="select">
                                        <select name="select" title="그룹" class="sel">
                                            <option>user</option>
                                            <option>chain</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>990</p>
                                </td>
                                <td class="tal">
                                    <p class="elpss">abcd123</p>
                                </td>
                                <td class="tal">
                                    <p class="elpss">닉네임</p>
                                </td>
                                <td>
                                    <div class="select">
                                        <select name="select" title="그룹" class="sel">
                                            <option>user</option>
                                            <option>chain</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="non-content">
                <i class="ico"></i>
                <span>내용이 없습니다.</span>
            </div>
            <!--#include virtual="/layout/paging/paging.html"-->
        </div>
    </section>
</main>
<!--#include virtual="/layout/admin/inc/f.html"-->