<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>컨테이너형 관리시스템</title>
    <!-- jquery  -->
    <script src="/js/jquery/jquery-3.7.1.min.js"></script>
    <script src="/js/jquery/jquery-ui.min.js"></script>
    <!-- datepicker -->
    <script src="/js/datepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" href="/js/datepicker/daterangepicker.css">
    <!-- jBox -->
    <script src="/js/jBox/jBox.all.js"></script>
    <link rel="stylesheet" href="/js/jBox/jBox.all.css">
    <!-- js -->
    <script src="/js/admin/admin.js"></script>
    <script src="/js/admin/modal.js"></script>
    <!-- swiper -->
    <script src="/js/swiper/swiper-bundle.js"></script>
    <link rel="stylesheet" href="/js/swiper/swiper-bundle.css">
    <!-- css -->
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/admin/admin.css">
    <link rel="stylesheet" href="/css/admin/modal.css">
</head>

<body>