<!-- header -->
<header id="header">
    <section class="header">
        <h1><span>컨테이너형 관리시스템</span></h1>
        <div class="lnb">
            <div class="time">
                <i class="time-icon"></i>
                <p class="now"></p>
            </div>
            <span class="hello">
                <div class="ico"><a href="#"><img src="" alt=""></a></div>
                <div class="name"><strong>Hello,</strong> <span><b>관리자</b>님</span></div>
            </span>
            <span class="logout">
                <div class="skip"><strong>관리자님</strong> <span>접속하셨습니다.</span></div>
                <button class="check" data-confirm="로그아웃 하시겠습니까?" data-title="로그아웃"><i class="out-icon"></i><span
                        class="skip">로그아웃</span></button>
            </span>
        </div>
        <aside id="gnb">
            <button class="gnb-btn"><i class="arrow"></i></button>
            <nav class="gnb">
                <div class="depth1">
                    <!-- 대시보드 -->
                    <div class="dp1">
                        <a href="/admin/dashboard/" class="da1">
                            <i><img src="/img/admin/icon/dash01.svg" alt="대시보드"></i>
                            <span>대시보드</span>
                        </a>
                        <ul class="depth2">
                            <li><a href="/admin/dashboard/">대시보드</a></li>
                        </ul>
                    </div>
                    <!-- 계정 -->
                    <div class="dp1">
                        <a href="/admin/user/" class="da1">
                            <i><img src="/img/admin/icon/dash02.svg" alt="계정"></i>
                            <span>계정</span>
                        </a>
                        <ul class="depth2">
                            <li><a href="/admin/user/">계정관리</a></li>
                        </ul>
                    </div>
                    <!-- 디바이스 -->
                    <div class="dp1">
                        <a href="/admin/device/" class="da1">
                            <i><img src="/img/admin/icon/dash03.svg" alt="디바이스"></i>
                            <span>디바이스</span>
                        </a>
                        <ul class="depth2">
                            <li><a href="/admin/device/">장비정보</a></li>
                            <li><a href="/admin/device/history.html">장비이력</a></li>
                        </ul>
                    </div>
                    <!-- 컨테이너 -->
                    <div class="dp1">
                        <a href="/admin/container/" class="da1">
                            <i><img src="/img/admin/icon/dash04.svg" alt="컨테이너"></i>
                            <span>컨테이너</span>
                        </a>
                        <ul class="depth2">
                            <li><a href="/admin/container/">컨테이너정보</a></li>
                            <li><a href="/admin/container/device.html">컨테이너장비</a></li>
                            <li><a href="/admin/container/interwork.html">외부계정연동</a></li>
                        </ul>
                    </div>
                    <!-- 제어 -->
                    <div class="dp1">
                        <a href="/admin/control/" class="da1">
                            <i><img src="/img/admin/icon/dash05.svg" alt="제어"></i>
                            <span>제어</span>
                        </a>
                        <ul class="depth2">
                            <li><a href="/admin/control/">제어</a></li>
                            <li class="skip"><a href="#">자동제어</a></li>
                        </ul>
                    </div>
                    <!-- 이벤트 -->
                    <div class="dp1 skip">
                        <a href="#" class="da1">
                            <i><img src="/img/admin/icon/dash06.svg" alt="이벤트"></i>
                            <span>이벤트</span>
                        </a>
                        <ul class="depth2">
                            <li><a href="#">이벤트관리</a></li>
                        </ul>
                    </div>
                    <!-- 통계 -->
                    <div class="dp1 skip">
                        <a href="#" class="da1">
                            <i><img src="/img/admin/icon/dash08.svg" alt="통계"></i>
                            <span>통계</span>
                        </a>
                        <ul class="depth2">
                            <li><a href="#">통계</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </aside>
    </section>
</header>