<!--#include virtual="/layout/mobile/inc/h.html"-->

<!-- 설정 - 비밀번호변경 -->
<header id="header">
    <div class="title line">
        <button class="prev"><span
                class="skip">이전페이지</span></button>
        <h3>비밀번호 변경</h3>
        <div class="none"></div>
    </div>
</header>
<main class="join">
    <section class="join-wrap">
        <section class="info">
            <div class="wrap">
                <fieldset>
                     <!-- 현재 비밀번호 -->
                     <div class="box">
                        <div class="tit esnt">현재 비밀번호</div>
                        <div class="inner">
                            <div class="input w100p">
                                <input type="text" class="ipt inform" placeholder="비밀번호를 입력해 주세요.">
                            </div>
                        </div>
                        <div class="ipt-inform">2자 이상 12자 이하의 영문, 숫자, 특수 기호만 입력 가능합니다.</div>
                    </div>
                    <!-- 비밀번호 -->
                    <div class="box">
                        <div class="tit esnt">새 비밀번호</div>
                        <div class="inner">
                            <div class="input w100p">
                                <input type="text" class="ipt inform" placeholder="비밀번호를 입력해 주세요.">
                            </div>
                        </div>
                        <div class="ipt-inform">2자 이상 12자 이하의 영문, 숫자, 특수 기호만 입력 가능합니다.</div>
                    </div>
                    <!-- 비밀번호 확인 -->
                    <div class="box">
                        <div class="tit esnt">새 비밀번호 확인</div>
                        <div class="inner">
                            <div class="input w100p">
                                <input type="text" class="ipt inform"
                                    placeholder="비밀번호에 입력한 내용과 동일한 내용을 입력해주세요.">
                            </div>
                        </div>
                        <div class="ipt-inform">2자 이상 12자 이하의 영문, 숫자, 특수 기호만 입력 가능합니다.</div>
                        <div class="ipt-error">잘못된 비밀번호 입니다.</div>
                    </div>
                </fieldset>
            </div>
        </section>
    </section>
</main>
<footer id="footer">
    <section class="footer">
        <div class="button">
            <a href="/member/setting/" class="bt bt-next request"  data-confirm="비밀번호가 성공적으로 변경되었습니다." ><span>비밀번호
                    변경</span></a>
        </div>
    </section>
</footer>
<!--#include virtual="/layout/mobile/inc/f.html"-->