<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>파크골프 출입관리시스템 - GATE용</title>

    <!-- css -->
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/gate/gate.css">

    <!-- jquery  -->
    <script src="/js/jquery/jquery-3.7.1.min.js"></script>
    <script src="/js/jquery/jquery-ui.min.js"></script>

    <!-- jBox -->
    <script src="/js/jBox/jBox.all.js"></script>
    <link rel="stylesheet" href="/js/jBox/jBox.all.css">
    </link>

    <script src="/js/gate/gate.js"></script>
</head>

<body>
    <div id="main">
        <div id="mobile">