<!--#include virtual="/layout/mobile/inc/h.html"-->
<header id="header">
    <div class="title line">
        <button class="prev"><span
                class="skip">이전페이지</span></button>
        <h3>아이디 찾기</h3>
        <div class="none"></div>
    </div>
</header>
<main class="join">
    <div class="join-wrap">
    <section class="find">
        <div class="wrap">
            <div class="text-wrap">
                <p>가입하신 아이디는</p>
                <div class="id-box">
                    <p>abcd1234</p>
                </div>
                <p>입니다.</p>
            </div>
        </div>
    </section>
    </div>
</main>
<footer id="footer">
    <section class="footer">
        <div class="button">
            <button type="submit" class="bt bt-next act"
                onclick="location.href='/auth/login/'"><span>로그인</span></button>
        </div>
    </section>
</footer>

<!--#include virtual="/layout/mobile/inc/f.html"-->