<!--#include virtual="/layout/mobile/inc/h.html"-->

<!-- 비밀번호찾기 - 번호인증 -->
<header id="header">
    <div class="title line">
        <button class="prev"><span
                class="skip">이전페이지</span></button>
        <h3>비밀번호 찾기</h3>
        <div class="none"></div>
    </div>
</header>
<main class="join">
    <section class="join-wrap">
        <section class="info">
            <div class="wrap">
                <fieldset>
                    <!-- 아이디 -->
                    <div class="box">
                        <div class="tit esnt">아이디</div>
                        <div class="inner">
                            <div class="input w100p">
                                <input type="text" class="ipt" placeholder="아이디를 입력해 주세요.">
                            </div>
                        </div>
                    </div>
                    <!-- 휴대폰번호인증 -->
                    <div class="box">
                        <div class="tit">휴대폰 번호</div>
                        <div class="inner">
                            <div class="input">
                                <input type="text" class="ipt" placeholder="휴대폰 번호를 입력해주세요.">
                            </div>
                            <button class="bt bt-send request" data-confirm="이미 가입된 휴대폰 번호 입니다.">
                                <p class="request">인증요청</p>
                                <p class="re-request">재요청</p>
                            </button>
                        </div>
                    </div>
                    <!-- 인증번호입력 -->
                    <div class="box">
                        <div class="tit">인증번호</div>
                        <div class="inner">
                            <div class="input">
                                <input type="text" class="ipt" placeholder="인증번호를 입력해주세요.">
                                <em>03:00</em>
                            </div>
                            <button class="bt bt-confirm request"  data-confirm="입력 시간이 초과하였습니다.">확인</button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </section>
    </section>
</main>
<footer id="footer">
    <section class="footer">
        <div class="button">
            <button type="submit" class="bt bt-next"
                onclick="location.href='password-find-step2.html'"><span>비밀번호 찾기</span></button>
        </div>
    </section>
</footer>
<!--#include virtual="/layout/mobile/inc/f.html"-->