<!--#include virtual="/layout/admin/inc/h.html"-->
<script>
    $(function () {
        $(".dp1:nth-child(4)").addClass('act');
        $(".dp1:nth-child(4) .depth2").show();
        $(".dp1:nth-child(4) .depth2 li:nth-child(1)").addClass('act');
    });
</script>
<!-- main -->
<main id="admin">
    <section class="title">
        <div class="titl">
            <h3>회원정보</h3>
        </div>
    </section>
    <section class="contain">
        <div class="content list">
            <div class="titles">
                <h4>회원정보</h4>
                <div class="title-wrap">
                    <fieldset>
                        <div class="search">
                            <div class="inn">
                                <select name="select" title="그룹" class="sel">
                                    <option>전체</option>
                                    <option>사용자</option>
                                    <option>체인점</option>
                                </select>
                            </div>
                            <div class="inn">
                                <div class="input">
                                    <input type="text" placeholder="검색어를 입력해주세요." class="ipt-txt w200">
                                    <button class="bt-srch">
                                        <i class="ico-src"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="buttons">
                        <button class="bt bt-del check" data-confirm="삭제하시겠습니까?" data-title="삭제">삭제</button>
                        <button class="bt bt-add" onclick="location.href='/admin/member/member-add.html'">회원 등록</button>
                    </div>
                </div>
            </div>
            <div class="table">
                <div class="tbl">
                    <table class="col fixed">
                        <colgroup>
                            <col class="w60">
                            <col class="w100">
                            <col class="w250">
                            <col class="w250">
                            <col>
                            <col class="w150">
                            <col class="w100">
                        </colgroup>
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="allcheck" class="checknum" name="allcheck"
                                        onclick="selectAll(this)"> <label for="allcheck"><span
                                            class="skip">전체선택</span></label>
                                </th>
                                <th>번호</th>
                                <th>아이디</th>
                                <th>닉네임</th>
                                <th>이메일</th>
                                <th>전화번호</th>
                                <th>등록일</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox" id="check999" class="checknum unitcheck" name="check"
                                        onclick="checkSelectAll()"> <label for="check999"><span
                                            class="skip">999</span></label>
                                </td>
                                <td>
                                    <p>999</p>
                                </td>
                                <td class="tal">
                                    <a href="/admin/member/member-view.html" class="pointer">
                                        <p class="elpss">abcd123</p>
                                    </a>
                                </td>
                                <td class="tal">
                                    <p class="elpss">닉네임</p>
                                </td>
                                <td class="tal">
                                    <p class="elpss">abcd123@gmail.com</p>
                                </td>
                                <td>
                                    <p class="number">010-1234-5678</p>
                                </td>
                                <td>
                                    <p class="date">24-08-29</p>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="check998" class="checknum unitcheck" name="check"
                                        onclick="checkSelectAll()"> <label for="check998"><span
                                            class="skip">998</span></label>
                                </td>
                                <td>
                                    <p>998</p>
                                </td>
                                <td class="tal">
                                    <a href="/admin/member/member-view.html" class="pointer">
                                        <p class="elpss">abcd123</p>
                                    </a>
                                </td>
                                <td class="tal">
                                    <p class="elpss">닉네임</p>
                                </td>
                                <td class="tal">
                                    <p class="elpss">abcd123@gmail.com</p>
                                </td>
                                <td>
                                    <p class="number">010-1234-5678</p>
                                </td>
                                <td>
                                    <p class="date">24-08-29</p>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="check997" class="checknum unitcheck" name="check"
                                        onclick="checkSelectAll()"> <label for="check997"><span
                                            class="skip">997</span></label>
                                </td>
                                <td>
                                    <p>997</p>
                                </td>
                                <td class="tal">
                                    <a href="/admin/member/member-view.html" class="pointer">
                                        <p class="elpss">abcd123</p>
                                    </a>
                                </td>
                                <td class="tal">
                                    <p class="elpss">닉네임</p>
                                </td>
                                <td class="tal">
                                    <p class="elpss">abcd123@gmail.com</p>
                                </td>
                                <td>
                                    <p class="number">010-1234-5678</p>
                                </td>
                                <td>
                                    <p class="date">24-08-29</p>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="check996" class="checknum unitcheck" name="check"
                                        onclick="checkSelectAll()"> <label for="check996"><span
                                            class="skip">996</span></label>
                                </td>
                                <td>
                                    <p>996</p>
                                </td>
                                <td class="tal">
                                    <a href="/admin/member/member-view.html" class="pointer">
                                        <p class="elpss">abcd123</p>
                                    </a>
                                </td>
                                <td class="tal">
                                    <p class="elpss">닉네임</p>
                                </td>
                                <td class="tal">
                                    <p class="elpss">abcd123@gmail.com</p>
                                </td>
                                <td>
                                    <p class="number">010-1234-5678</p>
                                </td>
                                <td>
                                    <p class="date">24-08-29</p>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="check995" class="checknum unitcheck" name="check"
                                        onclick="checkSelectAll()"> <label for="check995"><span
                                            class="skip">995</span></label>
                                </td>
                                <td>
                                    <p>995</p>
                                </td>
                                <td class="tal">
                                    <a href="/admin/member/member-view.html" class="pointer">
                                        <p class="elpss">abcd123</p>
                                    </a>
                                </td>
                                <td class="tal">
                                    <p class="elpss">닉네임</p>
                                </td>
                                <td class="tal">
                                    <p class="elpss">abcd123@gmail.com</p>
                                </td>
                                <td>
                                    <p class="number">010-1234-5678</p>
                                </td>
                                <td>
                                    <p class="date">24-08-29</p>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="check994" class="checknum unitcheck" name="check"
                                        onclick="checkSelectAll()"> <label for="check994"><span
                                            class="skip">994</span></label>
                                </td>
                                <td>
                                    <p>994</p>
                                </td>
                                <td class="tal">
                                    <a href="/admin/member/member-view.html" class="pointer">
                                        <p class="elpss">abcd123</p>
                                    </a>
                                </td>
                                <td class="tal">
                                    <p class="elpss">닉네임</p>
                                </td>
                                <td class="tal">
                                    <p class="elpss">abcd123@gmail.com</p>
                                </td>
                                <td>
                                    <p class="number">010-1234-5678</p>
                                </td>
                                <td>
                                    <p class="date">24-08-29</p>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="check993" class="checknum unitcheck" name="check"
                                        onclick="checkSelectAll()"> <label for="check993"><span
                                            class="skip">993</span></label>
                                </td>
                                <td>
                                    <p>993</p>
                                </td>
                                <td class="tal">
                                    <a href="/admin/member/member-view.html" class="pointer">
                                        <p class="elpss">abcd123</p>
                                    </a>
                                </td>
                                <td class="tal">
                                    <p class="elpss">닉네임</p>
                                </td>
                                <td class="tal">
                                    <p class="elpss">abcd123@gmail.com</p>
                                </td>
                                <td>
                                    <p class="number">010-1234-5678</p>
                                </td>
                                <td>
                                    <p class="date">24-08-29</p>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="check992" class="checknum unitcheck" name="check"
                                        onclick="checkSelectAll()"> <label for="check992"><span
                                            class="skip">992</span></label>
                                </td>
                                <td>
                                    <p>992</p>
                                </td>
                                <td class="tal">
                                    <a href="/admin/member/member-view.html" class="pointer">
                                        <p class="elpss">abcd123</p>
                                    </a>
                                </td>
                                <td class="tal">
                                    <p class="elpss">닉네임</p>
                                </td>
                                <td class="tal">
                                    <p class="elpss">abcd123@gmail.com</p>
                                </td>
                                <td>
                                    <p class="number">010-1234-5678</p>
                                </td>
                                <td>
                                    <p class="date">24-08-29</p>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="check991" class="checknum unitcheck" name="check"
                                        onclick="checkSelectAll()"> <label for="check991"><span
                                            class="skip">991</span></label>
                                </td>
                                <td>
                                    <p>991</p>
                                </td>
                                <td class="tal">
                                    <a href="/admin/member/member-view.html" class="pointer">
                                        <p class="elpss">abcd123</p>
                                    </a>
                                </td>
                                <td class="tal">
                                    <p class="elpss">닉네임</p>
                                </td>
                                <td class="tal">
                                    <p class="elpss">abcd123@gmail.com</p>
                                </td>
                                <td>
                                    <p class="number">010-1234-5678</p>
                                </td>
                                <td>
                                    <p class="date">24-08-29</p>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="check990" class="checknum unitcheck" name="check"
                                        onclick="checkSelectAll()"> <label for="check990"><span
                                            class="skip">990</span></label>
                                </td>
                                <td>
                                    <p>990</p>
                                </td>
                                <td class="tal">
                                    <a href="/admin/member/member-view.html" class="pointer">
                                        <p class="elpss">abcd123</p>
                                    </a>
                                </td>
                                <td class="tal">
                                    <p class="elpss">닉네임</p>
                                </td>
                                <td class="tal">
                                    <p class="elpss">abcd123@gmail.com</p>
                                </td>
                                <td>
                                    <p class="number">010-1234-5678</p>
                                </td>
                                <td>
                                    <p class="date">24-08-29</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="non-content">
                <i class="ico"></i>
                <span>내용이 없습니다.</span>
            </div>
            <!--#include virtual="/layout/paging/paging.html"-->
        </div>
    </section>
</main>
<!--#include virtual="/layout/admin/inc/f.html"-->