<!--#include virtual="/layout/admin/inc/h.html"-->
<script>
    $(function () {
        $(".dp1:nth-child(4)").addClass('act');
        $(".dp1:nth-child(4) .depth2").show();
        $(".dp1:nth-child(4) .depth2 li:nth-child(1)").addClass('act');
    });
</script>
<!-- main -->
<main id="admin">
    <section class="title">
        <div class="titl">
            <h3>회원정보</h3>
            <p>회원정보</p>
        </div>
    </section>
    <section class="contain col">
        <div class="content">
            <div class="titles">
                <div class="title-wrap">
                    <div class="tit">
                        <h4>회원정보</h4>
                    </div>
                    <div class="buttons">
                        <button class="bt bt-save" onclick="location.href='/admin/member/'">저장</button>
                    </div>
                </div>
            </div>
            <div class="table-wrap">
                <div class="profile-wrap">
                    <div class="profile">
                        <div class="img">
                        </div>
                    </div>
                    <div class="upload">
                        <input type="file" name="files" id="upload" class="imgupload profile-upload skip" accept="image/jpeg,image/png">
                        <label for="upload">이미지 업로드</label>
                    </div>
                </div>
                <div class="table">
                    <div class="tbl">
                        <table class="row">
                            <colgroup>
                                <col class="w200">
                                <col>
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>이름</th>
                                    <td>
                                        <div class="inp">
                                            <input type="text" placeholder="이름을 입력해 주세요." class="ipt-txt">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>아이디</th>
                                    <td>
                                        <div class="inner">
                                            <div class="inp w100p">
                                                <input type="text" placeholder="아이디를 입력해주세요" class="ipt-txt">
                                                <button class="bt bt-ovrl">중복확인</button>
                                            </div>
                                            <p class="ipt-error skip" role="alert">이미 사용중인 아이디 입니다.</p>
                                            <p class="ipt-succes" role="alert">사용 가능한 아이디입니다.</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>닉네임</th>
                                    <td>
                                        <div class="inner">
                                            <div class="inp">
                                                <input type="text" placeholder="닉네임을 입력해주세요" class="ipt-txt error">
                                                <button class="bt bt-ovrl">중복확인</button>
                                            </div>
                                            <p class="ipt-error" role="alert">이미 사용중인 닉네임입니다.</p>
                                            <p class="ipt-succes skip" role="alert">사용 가능한 닉네임입니다.</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>이메일</th>
                                    <td>
                                        <div class="inner">
                                        <div class="inp">
                                            <input type="text" placeholder="이메일을 입력해주세요" class="ipt-txt">
                                            <button class="bt bt-ovrl">중복확인</button>
                                        </div>
                                        <p class="ipt-error skip" role="alert">이미 사용중인 이메일입니다.</p>
                                        <p class="ipt-succes" role="alert">사용 가능한 이메일입니다.</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>휴대폰 번호</th>
                                    <td>
                                        <div class="inner">
                                        <div class="inp">
                                            <input type="text" placeholder="휴대폰번호를 입력해주세요" class="ipt-txt">
                                            <button class="bt bt-ovrl">중복확인</button>
                                        </div>
                                        <p class="ipt-error skip" role="alert">이미 사용중인 휴대폰 번호입니다.</p>
                                        <p class="ipt-succes skip" role="alert">사용 가능한 휴대폰 번호입니다.</p>
                                    </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>비밀번호</th>
                                    <td>
                                        <div class="inner"></div>
                                            <div class="inp">
                                                <input type="text" placeholder="비밀번호를 입력해주세요" class="ipt-txt">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!--#include virtual="/layout/admin/inc/f.html"-->