<!--#include virtual="/layout/mobile/inc/h.html"-->

<!--로그인-->
<main class="login">
    <section class="logo">
        <h1></h1>
    </section>
    <section class="form">
        <div class="wrap">
            <!-- 버튼 -->
            <div class="flex col">
                <div class="buttons col">
                    <button class="bt login-btn act" onclick="location.href='/auth/login/login.html'">로그인</button>
                    <button class="bt join-btn" onclick="location.href='/auth/join/'">회원가입</button>
                </div>
                <div class="buttons row">
                    <button class="find-btn" onclick="location.href='/auth/find/id-find-step1.html'">아이디찾기</button>
                    <button class="find-btn" onclick="location.href='/auth/find/password-find-step1.html'">비밀번호찾기</button>
                </div>
            </div>
        </div>
    </section>
</main>

<!--#include virtual="/layout/mobile/inc/f.html"-->