<!--#include virtual="/layout/gate/inc/h.html"-->
<main class="app">
    <div class="app-wrap gray">
        <div class="bluetooth">
            <div class="find">
                <div class="radar">
                    <div class="bltt"></div>
                </div>
                <div class="search">
                    <p>블루투스 연결 디바이스를 찾고 있습니다.</p>
                    <p>먼저, 블루투스를 활성화해주세요.</p>
                </div>
            </div>
            <div class="btns">
                <button class="btn" onClick="location.href='/gate/main/'">
                    <div class="inn"> <i class="icon home"></i>
                        <p>메인으로 가기</p>
                    </div>
                </button>
                <button class="btn" onClick="location.href='/gate/qr/'">
                    <div class="inn"> <i class="icon qr"></i>
                        <p>QR코드 입장</p>
                    </div>
                </button>
            </div>
        </div>
    </div>
</main>
<!--#include virtual="/layout/gate/inc/f.html"-->