<!--#include virtual="/layout/mobile/inc/h.html"-->
<header id="header">
    <div class="title wht line">
        <button class="prev" onclick="location.href='/mobile/user/'"><span
                class="skip">이전페이지</span></button>
        <h3>나의 비거리</h3>
        <div class="item hidden"></div>
    </div>
</header>
<main class="edit-wrap mainflex">
    <section class="edit">
        <div class="ipt-edit">
        <fieldset>
            <!-- 입력내용 -->
            <div class="wrap">
                <div class="field">
                    <!-- 비 거리 설정 -->
                    <div class="box">
                        <div class="title">
                            <p class="titl">나의 비거리</p>
                        </div>
                        <div class="inner">
                            <div class="input">
                                <input type="text" class="ipt" placeholder="나의 비거리를 입력해주세요." maxlength="3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        </div>
    </section>
</main>
<!-- footer -->
<footer id="footer">
    <section class="footer">
        <div class="buttons col">
            <button type="submit" class="bt bt-next act request" data-title="나의 비거리" data-confirm="비거리가 저장되었습니다."
                onclick="location.href='/mobile/user/'"><span>저장</span></button>
        </div>
    </section>
</footer>
<!--#include virtual="/layout/mobile/inc/f.html"-->