<!--#include virtual="/layout/admin/inc/h.html"-->
<script>
    $(function () {
        $(".dp1:nth-child(4)").addClass('act');
        $(".dp1:nth-child(4) .depth2").show();
        $(".dp1:nth-child(4) .depth2 li:nth-child(2)").addClass('act');
    });
</script>

<!-- main -->
<main id="admin">
    <!-- 페이지 위치 -->
    <section class="title">
        <h3>코스관리수정</h3>
    </section>
    <section class="contain">
        <div class="content short">
            <div class="title">
                <div class="tit">
                    <h5>수성구장</h5>
                </div>
            </div>
            <div class="table course">
                <div class="tbl">
                    <table class="col">
                        <tbody>
                            <div class="course">
                                <!-- A코스 -->
                                <tr class="tit">
                                    <th rowspan="3" class="name crs1 w100">A코스
                                    </th>
                                    <th colspan="2">1홀</th>
                                    <th colspan="2">2홀</th>
                                    <th colspan="2">3홀</th>
                                    <th colspan="2">4홀</th>
                                    <th colspan="2">5홀</th>
                                    <th colspan="2">6홀</th>
                                    <th colspan="2">7홀</th>
                                    <th colspan="2">8홀</th>
                                    <th colspan="2">9홀</th>
                                </tr>
                                <tr class="inf">
                                    <th>Par</th>
                                    <th>거리(m)</th>
                                    <th>Par</th>
                                    <th>거리(m)</th>
                                    <th>Par</th>
                                    <th>거리(m)</th>
                                    <th>Par</th>
                                    <th>거리(m)</th>
                                    <th>Par</th>
                                    <th>거리(m)</th>
                                    <th>Par</th>
                                    <th>거리(m)</th>
                                    <th>Par</th>
                                    <th>거리</th>
                                    <th>Par</th>
                                    <th>거리(m)</th>
                                    <th>Par</th>
                                    <th>거리(m)</th>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="Par" value="3">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="거리(m)"
                                                    value="40">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="Par" value="3">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="거리(m)"
                                                    value="40">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="Par" value="3">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="거리(m)"
                                                    value="40">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="Par" value="3">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="거리(m)"
                                                    value="40">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="Par" value="3">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="거리(m)"
                                                    value="40">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="Par" value="3">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="거리(m)"
                                                    value="40">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="Par" value="3">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="거리(m)"
                                                    value="40">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="Par" value="3">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="거리(m)"
                                                    value="40">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="Par" value="3">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="거리(m)"
                                                    value="40">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <!-- B코스 -->
                                <tr class="tit">
                                    <th rowspan="3" class="name crs2 w100">B코스
                                    </th>
                                    <th colspan="2">1홀</th>
                                    <th colspan="2">2홀</th>
                                    <th colspan="2">3홀</th>
                                    <th colspan="2">4홀</th>
                                    <th colspan="2">5홀</th>
                                    <th colspan="2">6홀</th>
                                    <th colspan="2">7홀</th>
                                    <th colspan="2">8홀</th>
                                    <th colspan="2">9홀</th>
                                </tr>
                                <tr class="inf">
                                    <th>Par</th>
                                    <th>거리(m)</th>
                                    <th>Par</th>
                                    <th>거리(m)</th>
                                    <th>Par</th>
                                    <th>거리(m)</th>
                                    <th>Par</th>
                                    <th>거리(m)</th>
                                    <th>Par</th>
                                    <th>거리(m)</th>
                                    <th>Par</th>
                                    <th>거리(m)</th>
                                    <th>Par</th>
                                    <th>거리</th>
                                    <th>Par</th>
                                    <th>거리(m)</th>
                                    <th>Par</th>
                                    <th>거리(m)</th>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="Par" value="3">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="거리(m)"
                                                    value="40">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="Par" value="3">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="거리(m)"
                                                    value="40">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="Par" value="3">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="거리(m)"
                                                    value="40">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="Par" value="3">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="거리(m)"
                                                    value="40">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="Par" value="3">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="거리(m)"
                                                    value="40">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="Par" value="3">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="거리(m)"
                                                    value="40">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="Par" value="3">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="거리(m)"
                                                    value="40">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="Par" value="3">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="거리(m)"
                                                    value="40">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="Par" value="3">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="거리(m)"
                                                    value="40">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <!-- C코스 -->
                                <tr class="tit">
                                    <th rowspan="3" class="name crs3 w100">C코스
                                    </th>
                                    <th colspan="2">1홀</th>
                                    <th colspan="2">2홀</th>
                                    <th colspan="2">3홀</th>
                                    <th colspan="2">4홀</th>
                                    <th colspan="2">5홀</th>
                                    <th colspan="2">6홀</th>
                                    <th colspan="2">7홀</th>
                                    <th colspan="2">8홀</th>
                                    <th colspan="2">9홀</th>
                                </tr>
                                <tr class="inf">
                                    <th>Par</th>
                                    <th>거리(m)</th>
                                    <th>Par</th>
                                    <th>거리(m)</th>
                                    <th>Par</th>
                                    <th>거리(m)</th>
                                    <th>Par</th>
                                    <th>거리(m)</th>
                                    <th>Par</th>
                                    <th>거리(m)</th>
                                    <th>Par</th>
                                    <th>거리(m)</th>
                                    <th>Par</th>
                                    <th>거리</th>
                                    <th>Par</th>
                                    <th>거리(m)</th>
                                    <th>Par</th>
                                    <th>거리(m)</th>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="Par" value="3">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="거리(m)"
                                                    value="40">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="Par" value="3">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="거리(m)"
                                                    value="40">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="Par" value="3">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="거리(m)"
                                                    value="40">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="Par" value="3">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="거리(m)"
                                                    value="40">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="Par" value="3">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="거리(m)"
                                                    value="40">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="Par" value="3">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="거리(m)"
                                                    value="40">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="Par" value="3">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="거리(m)"
                                                    value="40">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="Par" value="3">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="거리(m)"
                                                    value="40">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="Par" value="3">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form">
                                            <div class="ipt w100p">
                                                <input type="text" class="ip-txt tac w100p" placeholder="거리(m)"
                                                    value="40">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </div>
                        </tbody>
                    </table>
                </div>
                <div class="button-wrap">
                    <div class="button">
                        <button class="bt bt-rgstr" onclick="location.href='course-view.html'">수정</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!--#include virtual="/layout/admin/inc/f.html"-->